<p>
  @if (modificationParameters['mt']) {
    <strong>Modification type</strong> {{modificationParameters['mt']}}<br>
  }
  @if (modificationParameters['pp']) {
    <strong>Position</strong> {{modificationParameters['pp']}}<br>
  }
  @if (modificationParameters['ta']) {
    <strong>Target AA</strong> {{modificationParameters['ta']}}<br>
  }
  @if (modificationParameters['ts']) {
    <strong>Target Site</strong> {{modificationParameters['ts']}}<br>
  }
  @if (modificationParameters['mm']) {
    <strong>Modification Mass</strong> {{modificationParameters['mm']}}<br>
  }
  @if (modificationParameters['ac']) {
    <strong>Accession</strong> {{modificationParameters['ac']}}<br>
  }
  @if (modificationParameters['nt']) {
    <strong>Note</strong> {{modificationParameters['nt']}}
  }
</p>
