<div class="modal-header">
  <h5 class="modal-title">Metadata Editor</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="d-flex gap-2 flex-column">
    @if (type !== 'Factor value') {
      <div class="form-group">
        <label for="metadataName">Metadata Name</label>
        <input class="form-control" id="metadataName" formControlName="metadataName" placeholder="Metadata Name" [readonly]="name!==''">
      </div>
    }

    @if (name==='' && type === '') {
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isCharacteristics" formControlName="characteristics">
        <label for="isCharacteristics">Is this data an inherent characteristics of the sample</label>
      </div>
    }

    @if (previewMode) {
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="hidden" formControlName="hidden">
        <label for="hidden" class="form-check-label">Hidden</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="readonly" formControlName="readonly">
        <label for="readonly" class="form-check-label">Readonly</label>
      </div>
    }

    @if (name==='' && type === 'Factor value') {
      <div class="form-group">
        <label for="factorValueColumn">Factor Value Columns</label>
        <select class="form-select" id="factorValueColumn" formControlName="metadataName">
          @for (col of possibleColumns; track col) {
            <option value="{{col.name}}">{{col.name}}</option>
          }
        </select>
        <small id="factorValueColumnHelp" class="form-text text-muted">Select an existing column that contains the factor value</small>
      </div>
    }
    @if (service_lab_group_recommenations||user_favourite_metadata) {
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeID">
        @if (service_lab_group_recommenations) {
          @if (service_lab_group_recommenations.count > 0) {
            <li [ngbNavItem]="'service_lab_group'">
              <button ngbNavLink>Facility Recommendations</button>
              <ng-template ngbNavContent>
                <div class="form-group">
                  <select class="form-select" [size]="5">
                    @for (r of service_lab_group_recommenations.results; track r.id) {
                      @if (r.display_value) {
                        <option (click)="value=r.value" [ngValue]="r">{{r.display_value}}</option>
                      } @else {
                        <option (click)="value=r.value" [ngValue]="r">{{r.value}}</option>
                      }
                    }
                  </select>
                </div>
                <div class="mt-2">
                  <ngb-pagination [collectionSize]="service_lab_group_recommenations.count" [rotate]="true" [(page)]="currentServiceLabRecommendationsPage" [pageSize]="pageSize" (pageChange)="onPageChange($event, 'service_lab_group')"></ngb-pagination>
                </div>

              </ng-template>
            </li>
          }
        }
        @if (user_favourite_metadata) {
          @if (user_favourite_metadata.count > 0) {
            <li [ngbNavItem]="'user'">
              <button ngbNavLink>User's Favourite</button>
              <ng-template ngbNavContent>
                <div class="form-group">
                  <select class="form-select" [size]="5">
                    @for (r of user_favourite_metadata.results; track r.id) {
                      @if (r.display_value) {
                        <option (click)="value=r.value" [ngValue]="r">{{r.display_value}}</option>
                      } @else {
                        <option (click)="value=r.value" [ngValue]="r">{{r.value}}</option>
                      }
                    }
                  </select>
                </div>
                <div class="mt-2">
                  <ngb-pagination class="mt-2" [collectionSize]="user_favourite_metadata.count" [rotate]="true" [(page)]="currentUserFavouriteMetadataPage" [pageSize]="pageSize" (pageChange)="onPageChange($event, 'user')"></ngb-pagination>
                </div>
              </ng-template>
            </li>
          }
        }
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    }

    @if (form.value.metadataName === 'Sample type') {
      <div class="form-group">
        <label for="sampleType">Sample Type</label>
        <select class="form-select" id="sampleType" formControlName="metadataValue">
          <option value="wcl">Whole Cell Lysate</option>
          <option value="ip">Immunoprecipitate</option>
          <option value="other">Other</option>
        </select>
      </div>
    } @else if (form.value.metadataName === 'Proteomics data acquisition method') {
      <div class="form-group">
        <label for="acquisitionMethodSelect">Data Acquisition Method From Database</label>
        <select class="form-select" id="acquisitionMethodSelect" formControlName="metadataValue" [size]="4">
          @for (method of metadataService.dataAcquisitionMethods; track method) {
            <option value="{{method}}">{{method}}</option>
          }
        </select>
      </div>
      Or
      <div class="form-group">
        <label for="acquisitionMethod">Manual Data Acquisition Method Input</label>
        <input (selectItem)="onItemSelect($event)" [ngbTypeahead]="searchMetadata" type="text" class="form-control" id="acquisitionMethod" formControlName="metadataValue" placeholder="Data Acquisition Method">
      </div>
    } @else if (form.value.metadataName === 'Label') {
    <div class="form-group">
      <label for="labelSelect">Label From Database</label>
      <select class="form-select" id="labelSelect" formControlName="metadataValue" [size]="4">
        @for (method of metadataService.labelTypes; track method) {
          <option value="{{method}}">{{method}}</option>
        }
      </select>
    </div>
    Or
    <div class="form-group">
      <label for="labelType">Manual Label Input</label>
      <input (selectItem)="onItemSelect($event)" [ngbTypeahead]="searchMetadata" type="text" class="form-control" id="labelType" formControlName="metadataValue" placeholder="Label Type">
    </div>
  } @else if (form.value.metadataName === 'MS2 analyzer type') {
      <div class="form-group">
        <label for="massAnalyzerSelect">Mass Analyzer Type From Database</label>
        <select class="form-select" id="massAnalyzerSelect" formControlName="metadataValue" [size]="4">
          @for (method of metadataService.ms2AnalyzerTypes; track method) {
            <option value="{{method}}">{{method}}</option>
          }
        </select>
      </div>
      Or
      <div class="form-group">
        <label for="massAnalyzer">Manual Mass Analyzer Type Input</label>
        <input (selectItem)="onItemSelect($event)" [ngbTypeahead]="searchMetadata" type="text" class="form-control" id="massAnalyzer" formControlName="metadataValue" placeholder="Mass Analyzer Type">
      </div>
  } @else if (form.value.metadataName === 'Alkylation reagent') {
      <div class="form-group">
        <label for="alkylationReagentSelect">Alkylation Reagent From Database</label>
        <select class="form-select" id="alkylationReagentSelect" formControlName="metadataValue" [size]="4">
          @for (reagent of metadataService.alkylationReagents; track reagent) {
            <option value="{{reagent}}">{{reagent}}</option>
          }
        </select>
      </div>
      Or
      <div class="form-group">
        <label for="alkylationReagent">Manual Alkylation Reagent Input</label>
        <input (selectItem)="onItemSelect($event)" [ngbTypeahead]="searchMetadata" [resultFormatter]="formatter" [inputFormatter]="formatter" type="text" class="form-control" id="alkylationReagent" formControlName="metadataValue">
      </div>
    } @else if (form.value.metadataName === 'Enrichment process') {
      <div class="form-group">
        <label for="enrichmentProcessSelect">Enrichment Process From Database</label>
        <select class="form-select" id="enrichmentProcessSelect" formControlName="metadataValue" [size]="4">
          @for (ep of metadataService.enrichmentProcesses; track ep) {
            <option value="{{ep}}">{{ep}}</option>
          }
        </select>
      </div>
      Or
      <div class="form-group">
        <label for="enrichmentProcess">Manual Enrichment Process Reagent Input</label>
        <input (selectItem)="onItemSelect($event)" [ngbTypeahead]="searchMetadata" [resultFormatter]="formatter" [inputFormatter]="formatter" type="text" class="form-control" id="enrichmentProcess" formControlName="metadataValue" placeholder="Enrichment Process">
      </div>
    } @else if (form.value.metadataName === 'Reduction reagent') {
      <div class="form-group">
        <label for="reductionReagentSelect">Reduction Reagent From Database</label>
        <select class="form-select" id="reductionReagentSelect" formControlName="metadataValue" [size]="4">
          @for (reagent of metadataService.reductionReagents; track reagent) {
            <option value="{{reagent}}">{{reagent}}</option>
          }
        </select>
      </div>
      Or
      <div class="form-group">
        <label for="reductionReagent">Manual Reduction Reagent Input</label>
        <input (selectItem)="onItemSelect($event)" [ngbTypeahead]="searchMetadata" [resultFormatter]="formatter" [inputFormatter]="formatter" type="text" class="form-control" id="reductionReagent" formControlName="metadataValue" placeholder="Reduction Reagent">
      </div>
    } @else if (form.value.metadataName === 'Age') {
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="range" formControlName="ageRange">
        <label for="range">Age Range</label>
      </div>
      <div class="d-flex gap-2">
        <div class="form-group">
          <label for="y1">Year @if(form.value.ageRange){ Start }</label>
          <input type="number" class="form-control" id="y1" formControlName="y1" placeholder="0">
        </div>
        <div class="form-group">
          <label for="m1">Month @if(form.value.ageRange){ Start }</label>
          <input type="number" class="form-control" id="m1" formControlName="m1" placeholder="0">
        </div>
        <div class="form-group">
          <label for="d1">Day @if(form.value.ageRange){ Start }</label>
          <input type="number" class="form-control" id="d1" formControlName="d1" placeholder="0">
        </div>
      </div>
      @if (form.value.ageRange) {
        <div class="d-flex gap-2">
          <div class="form-group">
            <label for="y2">Year End</label>
            <input type="number" class="form-control" id="y2" formControlName="y2" placeholder="0">
          </div>
          <div class="form-group">
            <label for="m2">Month End</label>
            <input type="number" class="form-control" id="m2" formControlName="m2" placeholder="0">
          </div>
          <div class="form-group">
            <label for="d2">Day End</label>
            <input type="number" class="form-control" id="d2" formControlName="d2" placeholder="0">
          </div>
        </div>
      }
    } @else if (form.value.metadataName === 'Depletion') {
      <div class="form-group">
        <label for="depletion">Depletion Status</label>
        <select class="form-select" id="depletion" formControlName="metadataValue">
          <option value="depleted">depleted</option>
          <option value="not depleted">not depleted</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" formControlName="metadataQY" placeholder="Quantity">
        <small id="quantityHelp" class="form-text text-muted">Quantity of the sample in molar or mass examples 10 mg, 20 nmol</small>
      </div>
      <div class="form-group">
        <label for="compoundType">Compound Type</label>
        <select class="form-select" id="compoundType" formControlName="metadataCT">
          <option value="protein">Protein</option>
          <option value="peptide">Peptide</option>
          <option value="mixture">Mixture</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="peptideSequence">Peptide Sequence</label>
        <input type="text" class="form-control" id="peptideSequence" formControlName="metadataPS" placeholder="Peptide Sequence">
      </div>
      <div class="form-group">
        <label for="uniprotAccession">Uniprot Accession</label>
        <input type="text" class="form-control" id="uniprotAccession" formControlName="metadataAC" placeholder="Uniprot Accession">
      </div>
      <div class="form-group">
        <label for="compoundName">Compound Name</label>
        <input type="text" class="form-control" id="compoundName" formControlName="metadataCN" placeholder="Compound Name">
      </div>
      <div class="form-group">
        <label for="compoundVendor">Compound Vendor</label>
        <input type="text" class="form-control" id="compoundVendor" formControlName="metadataCV" placeholder="Compound Vendor">
      </div>
      <div class="form-group">
        <label for="compoundSpecURI">Compound Specification URI</label>
        <input type="text" class="form-control" id="compoundSpecURI" formControlName="metadataCS" placeholder="Compound Specification URI">
      </div>
      <div class="form-group">
        <label for="compoundFormula">Compound Formula</label>
        <input type="text" class="form-control" id="compoundFormula" formControlName="metadataCF" placeholder="Compound Formula">
      </div>
    } @else if (form.value.metadataName === 'Spiked compound') {
      <div class="form-group">
        <label for="species">Species</label>
        <input (selectItem)="onItemSelect($event)" [ngbTypeahead]="searchMetadata" [resultFormatter]="formatter" [inputFormatter]="formatter" class="form-control" id="species" formControlName="metadataSP" placeholder="Species">
      </div>
    } @else {
      <div class="form-group">
        <label for="metadataValue">Metadata Value</label>
        <input (selectItem)="onItemSelect($event)" [ngbTypeahead]="searchMetadata" [resultFormatter]="formatter" [inputFormatter]="formatter" class="form-control" id="metadataValue" formControlName="metadataValue" placeholder="Metadata Value">
      </div>
    }
    @if (modifier) {
      <div class="form-group">
        <label for="samples">Samples</label>
        <input type="text" class="form-control" id="samples" formControlName="samples" placeholder="Samples">
        <small id="samplesHelp" class="form-text text-muted">Comma separated list of sample numbers. If there are multiple continuous samples, they can be denoted with the starting sample "-" last sample of the continuous segment. Example: 1,3,7-10,6</small>
      </div>
    }
    <hr>

    @if (form.value['metadataName'] === 'Modification parameters') {
      <div class="form-group">
        <label for="metadataMT">Modification Type</label>
        <select class="form-select" id="metadataMT" formControlName="metadataMT">
          <option value="Fixed">Fixed</option>
          <option value="Variable">Variable</option>
          <option value="Annotated">Annotated</option>
        </select>
      </div>
      <div class="form-group">
        <label>Select available Unimod specs</label>
        <select size="5" [multiple]="allowMultipleSpecSelection" class="form-select" [(ngModel)]="selectedSpecs" [ngModelOptions]="{standalone: true}">
          @for (spec of metadataService.availableSpecs; track spec) {
            <option [ngValue]="spec">{{spec.id}} AA:{{spec.aa}} {{spec.classification}} {{spec.mono_mass}}</option>
          }
        </select>
      </div>

      @for (s of selectedSpecs; track s) {
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">AA:{{s.aa}} {{s.mono_mass}} {{s.position}}</h5>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Modification Position</label>
              <select class="form-select" [(ngModel)]="s.position" [ngModelOptions]="{standalone: true}">
                <option value="Any N-term">Any N-term</option>
                <option value="Any C-term">Any C-term</option>
                <option value="Anywhere">Anywhere</option>
                <option value="Protein N-term">Protein N-term</option>
                <option value="Protein C-term">Protein C-term</option>
              </select>
            </div>
            <div class="form-group">
              <label>Modification AA</label>
              <input type="text" class="form-control" [(ngModel)]="s.aa" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label>Modification Mono Mass</label>
              <input type="text" class="form-control" [(ngModel)]="s.mono_mass" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label>Target Site</label>
              <input type="text" class="form-control" [(ngModel)]="s.target_site" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
      }
    }
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
