<div class="modal-header">
  <h5 class="modal-title">
    Instrument Booking
  </h5>
</div>
<div class="modal-body">
  <!--<form [formGroup]="instrumentForm" class="d-flex flex-column gap-2" (ngSubmit)="createInstrument()">
    <div class="form-floating">
      <input type="text" class="form-control" formControlName="name" id="instrumentName">
      <label for="instrumentName">Instrument Name</label>
    </div>
    <div class="form-floating">
      <textarea class="form-control" formControlName="description" id="instrumentDescription" style="height: 300px"></textarea>
      <label for="instrumentDescription">Instrument Description</label>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>-->

  @if (enableSearch) {
    <form [formGroup]="searchForm" class="d-flex flex-column gap-2 mt-2">
      <div class="form-floating">
        <input type="search" class="form-control" formControlName="instrument" id="instrumentSearch">
        <label for="instrumentSearch">Instrument</label>
      </div>
      @if (instrumentQuery) {
        @if (instrumentQuery.results.length > 0) {
          <div class="list-group">
            @for (result of instrumentQuery.results; track result.id) {
              <div class="list-group-item list-group-item-action" (click)="clickInstrument(result)">
                <div>
                  <b>{{result.instrument_name}}</b>
                </div>
                <small>{{result.instrument_description}}</small>
                <div class="d-flex flex-row gap-1">
                  @if (dataService.instrumentPermissions[result.id]) {
                    @if (dataService.instrumentPermissions[result.id]['can_view']) {
                      <i class="bi bi-eye"></i>
                    } @else {
                      <i class="bi bi-eye text-danger"></i>
                    }
                    @if (dataService.instrumentPermissions[result.id]['can_book'] || dataService.instrumentPermissions[result.id]['can_manage']) {
                      <i class="bi bi-book"></i>
                    } @else {
                      <i class="bi bi-book text-danger"></i>
                    }
                  }
                </div>
              </div>
            }
          </div>
          <div class="d-flex flex-row gap-2">
            @if (instrumentQuery.previous) {
              <div>
                <button class="btn btn-primary" (click)="getInstruments(instrumentQuery.previous)">Previous</button>
              </div>
            } @else {
              <div>
                <button class="btn btn-primary" disabled>Previous</button>
              </div>
            }
            @if (instrumentQuery.next) {
              <div>
                <button class="btn btn-primary" (click)="getInstruments(instrumentQuery.next)">Next</button>
              </div>
            } @else {
              <div>
                <button class="btn btn-primary" disabled>Next</button>
              </div>
            }
          </div>
        }
      }
    </form>
  }
  @if (selectedInstrument) {
    <div>
      <p><b>Selected instrument:</b> {{selectedInstrument.instrument_name}}</p>
      @if (selectedInstrument.max_days_within_usage_pre_approval && selectedInstrument.max_days_within_usage_pre_approval > 0) {
        <div>
          <small>Max booking duration for auto-approval: {{selectedInstrument.max_days_within_usage_pre_approval}} days</small>
        </div>
      }
      @if (selectedInstrument.max_days_ahead_pre_approval && selectedInstrument.max_days_ahead_pre_approval > 0) {
        <div>
          <small>Max amount of days the instrument can be booked ahead of time for auto-approval: {{selectedInstrument.max_days_ahead_pre_approval}} days</small>
        </div>
      }
    </div>
    @if (selectedInstrumentUsage) {
      <div>
        <p>
          <b>Selected usage:</b> <br>
          Stated: {{selectedInstrumentUsage.time_started|date:'short'}} <br>
          Ended: {{selectedInstrumentUsage.time_ended|date:'short'}}<br>
          User: {{selectedInstrumentUsage.user}}
        </p>
        <div class="d-flex flex-row gap-1">
          <button class="btn btn-sm btn-outline-danger" (click)="deleteUsage(selectedInstrumentUsage)"><i class="bi bi-trash"></i></button>
          <button class="btn btn-sm btn-outline-primary" (click)="selectedInstrumentUsage=undefined"><i class="bi bi-x"></i></button>
        </div>

      </div>
    } @else {
      <app-booking-time-visualizer [enableDelete]="true" (selectedUsageBlock)="handleSelectedInstrumentUsage($event)" (selectedRangeOut)="handleSelectedRange($event)" [instrument]="selectedInstrument" [enableEdit]="true"></app-booking-time-visualizer>

      <div class="container">
        <div class="form-group mt-2">
          <label for="bookingDescription">Booking Description</label>
          <textarea class="form-control" [(ngModel)]="usageDescription" id="bookingDescription" style="height: 150px"></textarea>
        </div>
      </div>
    }

  }

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-primary" (click)="cancel()">Close</button>
</div>
