<div class="container mt-2">
  <h5>Instrument Booking Creation Logs</h5>
  <div class="filter-form">
    <form [formGroup]="filterForm" class="d-flex gap-2">
      <div>
        <label for="user">User Filter:</label>
        <input [inputFormatter]="formatter" [resultFormatter]="formatter" [ngbTypeahead]="searchUser" id="user" type="search" class="form-control" (selectItem)="selectUser($event)">
        <div class="d-flex gap-2 flex-wrap">
          @if (filterForm.value['users']) {
            @for (u of filterForm.value['users']; track u.id) {
              <span class="badge bg-primary"><i class="bi bi-x-circle" (click)="removeUserFromFilter(u)"></i>{{ u.username }}</span>
            }
          }
        </div>
      </div>
      <div>
        <label for="instrument">Instrument Filter:</label>
        <input [ngbTypeahead]="searchInstrument" [inputFormatter]="formatterInstrument" [resultFormatter]="formatterInstrument" (selectItem)="selectInstrument($event)" id="instrument" type="search" class="form-control">
        <div class="d-flex gap-2 flex-wrap">
          @if (filterForm.value['instrument']) {
            @for (i of filterForm.value['instrument']; track i.id) {
              <span class="badge bg-primary"><i class="bi bi-x-circle" (click)="removeInstrumentFromFilter(i)"></i>{{ i.instrument_name }}</span>
            }
          }
        </div>
      </div>
      <div>
        <label for="timeStarted">For The Period of Time Until Today (days)</label>
        <input type="number" class="form-control" formControlName="timeStarted" id="timeStarted">

      </div>
    </form>
  </div>

  <div class="timeline-container">
    <div class="timeline">
      @for (day of getDaysWithBookings(); track $index) {
        <hr>
        <div class="day-header">Booked On {{ day.date | date: 'fullDate' }}</div>
        <div class="timeline-event">
          @for (booking of day.bookings; track booking.id) {
            <div class="event-time">{{ booking.time_started | date: 'shortDate' }} - {{ booking.time_ended | date: 'shortDate' }}</div>
            <div class="event-details">
              <div>User: {{ booking.user }}</div>
              <div>Instrument: {{ instrumentMap[booking.instrument].instrument_name }}</div>
              @if (dataService.instrumentPermissions[booking.instrument]) {
                @if (dataService.instrumentPermissions[booking.instrument]['can_manage'] || accountService.is_staff) {
                  <div>@if(booking.approved) {<i ngbTooltip="Approved" class="bi bi-check-circle text-success" (click)="toggleApproval(booking)"></i>} @else {<i ngbTooltip="Not approved" class="bi bi-x-circle text-danger" (click)="toggleApproval(booking)"></i>}</div>
                } @else {
                  <div>@if(booking.approved) {<i ngbTooltip="Approved" class="bi bi-check-circle text-success"></i>} @else {<i ngbTooltip="Not approved" class="bi bi-x-circle text-danger"></i>}</div>
                }
              }

            </div>
          }
        </div>
      }
    </div>
  </div>

</div>
