@if (sampleNumber > 0 && userMetadata.length > 0 && staffMetadata.length > 0) {
  <table class="table table-hover">
    <thead  class="sticky-header">
    <tr>
      <th scope="col" class="sticky-column">Sample</th>
      @for (col of userMetadata; track col.id; let index = $index) {
        @if (visibleColumnNames.includes(col.name)) {
          <th scope="col" class="table-danger" (mouseover)="currentCell = {row: -1, col: index}">
            {{col.name}}
            @if (currentCell) {
              @if (currentCell.row === -1 && currentCell.col === index && (userCanEdit||staffModeActive)) {
                <i ngbTooltip="Edit default value" class="bi bi-pen" (click)="editDefaultMetadataValue(col, 'user_metadata')"></i>
                @if (!col.mandatory) {
                  <i ngbTooltip="Remove metadata" class="bi bi-trash2" (click)="removeMetadataCol(index, col, 'user_metadata')"></i>
                }
              }
            }
          </th>
        }
      }
      @for (col of staffMetadata; track col.id; let index = $index) {
        @if (visibleColumnNames.includes(col.name)) {
          <th scope="col" class="table-warning" (mouseover)="currentCell = {row: -1, col: (userMetadata.length+index)}">
            {{col.name}}
            @if (currentCell) {
              @if (currentCell.row === -1 && currentCell.col === (userMetadata.length+index) && staffModeActive) {
                <i ngbTooltip="Edit default value" class="bi bi-pen" (click)="editDefaultMetadataValue(col, 'staff_metadata')"></i>
                @if (!col.mandatory) {
                  <i ngbTooltip="Remove metadata" class="bi bi-trash2" (click)="removeMetadataCol(index, col, 'staff_metadata')"></i>
                }
              }
            }
          </th>
        }
      }
    </tr>
    </thead>
    <tbody>
      @for (row of tableData; track $index; let rowIndex = $index) {
        <tr>
          <td class="sticky-column">{{ row.sample }}</td>
          @for (col of userMetadata; track col.id; let index = $index) {
            @if (visibleColumnNames.includes(col.name)) {
              <td (mouseover)="moveOverCell(rowIndex, index)" [ngClass]="{'border border-black': selectionMode&&selectionModeColIndex===index, 'table-danger': selectionMode&&isSelectedCell(rowIndex, index)}">
                @if (col.name === 'Modification parameters') {
                  {{row['col_' + index]?.split(';').join('\n')}}
                } @else {
                  {{ row['col_' + index] }}
                }
                @if (currentCell) {
                  @if (currentCell.row === rowIndex && currentCell.col === index) {
                    @if (!selectionMode) {
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-sm btn-outline-primary" id="metadataCellDropdownUser" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                        <div ngbDropdownMenu aria-labelledby="metadataCellDropdownUser">
                          <button class="dropdown-item" (click)="editCell(row, col, index, 'user_metadata')">Edit</button>
                          <button class="dropdown-item" (click)="copyAndEnableSelectionMode(row, col, index, 'user_metadata')">Copy To Adjacent Cells in Column</button>
                          <button class="dropdown-item" (click)="addToFavourite(row, col, index)">Add To Favourite</button>
                        </div>
                      </div>
                    } @else {
                      <button class="btn btn-sm btn-outline-danger" (click)="pasteContentFromOriginToCells(col, 'user_metadata')"><i class="bi bi-clipboard"></i></button>
                    }
                  }
                  @if (originCell) {
                    @if (originCell.row === rowIndex && originCell.col === index) {
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-sm btn-outline-primary" id="metadataCellDropdownUser" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                        <div ngbDropdownMenu aria-labelledby="metadataCellDropdownUser">
                          <button class="dropdown-item" (click)="originCell=null;selectedCells=[];selectionMode=false;selectionModeColIndex=-1">Exit Mode</button>
                        </div>
                      </div>
                    }
                  }
                }

              </td>
            }

          }
          @for (col of staffMetadata; track col.id; let index = $index) {
            @if (visibleColumnNames.includes(col.name)) {
              <td (mouseover)="moveOverCell(rowIndex, (userMetadata.length+index))" [ngClass]="{'border border-black': selectionMode&&selectionModeColIndex===(userMetadata.length+index), 'table-danger': selectionMode&&isSelectedCell(rowIndex, (userMetadata.length+index))}">
                {{ row['col_' + (userMetadata.length+index)] }}
                @if (currentCell) {
                  @if (currentCell.row === rowIndex && currentCell.col === (userMetadata.length+index)) {
                    @if (!selectionMode) {
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-sm btn-outline-primary" id="metadataCellDropdownStaff" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                        <div ngbDropdownMenu aria-labelledby="metadataCellDropdownStaff">
                          <button class="dropdown-item" (click)="editCell(row, col, (userMetadata.length+index), 'staff_metadata')">Edit</button>
                          <button class="dropdown-item" (click)="copyAndEnableSelectionMode(row, col, (userMetadata.length+index), 'staff_metadata')">Copy To Adjacent Cells in Column</button>
                          <button class="dropdown-item" (click)="addToFavourite(row, col, (userMetadata.length+index))">Add To Favourite</button>
                        </div>
                      </div>
                    } @else {
                      <button class="btn btn-sm btn-outline-danger" (click)="pasteContentFromOriginToCells(col, 'staff_metadata')"><i class="bi bi-clipboard"></i></button>
                    }
                  }
                  @if (originCell) {
                    @if (originCell.row === rowIndex && originCell.col === (userMetadata.length+index)) {
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-sm btn-outline-primary" id="metadataCellDropdownStaff" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                        <div ngbDropdownMenu aria-labelledby="metadataCellDropdownStaff">
                          <button class="dropdown-item" (click)="originCell=null;selectedCells=[];selectionMode=false;selectionModeColIndex=-1">Exit Mode</button>
                        </div>
                      </div>
                    }
                  }
                }
              </td>
            }

          }
        </tr>
      }
    </tbody>
  </table>
}

