@if (sampleNumber > 0 && (userMetadata.length > 0 || staffMetadata.length > 0)) {
  <table class="table table-hover">
    <thead  class="sticky-header">
    <tr>
      <th scope="col" class="sticky-column">Sample</th>
      @for (col of userMetadata; track col.id; let index = $index) {
        @if (visibleColumnNames.includes(col.name)) {
          @if (!col.hidden || showHidden) {
            <th [ngbTooltip]="metadataService.helpData[col.name]" placement="top" container="body" scope="col" class="table-primary" (mouseover)="currentCell = {row: -1, col: index}">
              @if (field_mask[col.name]) {
                {{field_mask[col.name]}}
              } @else {
                {{col.name}}
              }
              @if (currentCell) {
                @if (currentCell.row === -1 && currentCell.col === index && (userCanEdit||staffModeActive)) {
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-sm btn-outline-primary" id="metadataColumnDropdownUser" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                    <div ngbDropdownMenu aria-labelledby="metadataColumnDropdownUser">
                      <button class="dropdown-item" (click)="editDefaultMetadataValue(col, 'user_metadata')" ngbTooltip="Edit default value"><i  class="bi bi-pen"></i> Edit Default Value</button>
                      @if (!templateMode) {
                        <button class="dropdown-item" (click)="replaceEntireMetadataColumn(col, 'user_metadata')" ngbTooltip="Replace entire column"><i  class="bi bi-columns"></i> Replace Entire Column</button>
                      }
                      @if (!col.mandatory) {
                        <button class="dropdown-item" (click)="removeMetadataCol(index, col, 'user_metadata')" ngbTooltip="Remove metadata"><i class="bi bi-trash2"></i> Remove Column</button>
                      }
                    </div>
                  </div>
                }
              }
            </th>
          }

        }
      }

      @for (col of staffMetadata; track col.id; let index = $index) {
        @if (visibleColumnNames.includes(col.name)) {
          @if (!col.hidden || showHidden) {
            @if (templateMode || staffModeActive) {
              <th [ngbTooltip]="metadataService.helpData[col.name]" placement="top" container="body" scope="col" [class.table-warning]="col.type != 'Factor value'" [class.table-danger]="col.type == 'Factor value'" (mouseover)="currentCell = {row: -1, col: (userMetadata.length+index)}">
                @if (field_mask[col.name]) {
                  {{field_mask[col.name]}}
                } @else {
                  {{col.name}}
                }
                @if (currentCell) {
                  @if (currentCell.row === -1 && currentCell.col === (userMetadata.length+index) && staffModeActive) {
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-sm btn-outline-primary" id="metadataColumnDropdownStaff" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                      <div ngbDropdownMenu aria-labelledby="metadataColumnDropdownStaff">
                        <button class="dropdown-item" (click)="editDefaultMetadataValue(col, 'staff_metadata')" ngbTooltip="Edit default value"><i  class="bi bi-pen"></i> Edit Default Value</button>
                        @if (!templateMode && !col.readonly) {
                          <button class="dropdown-item" (click)="replaceEntireMetadataColumn(col, 'staff_metadata')" ngbTooltip="Replace entire column"><i  class="bi bi-columns"></i> Replace Entire Column</button>
                        }
                        @if (!col.mandatory) {
                          <button class="dropdown-item" (click)="removeMetadataCol(index, col, 'staff_metadata')" ngbTooltip="Remove metadata"><i class="bi bi-trash2"></i> Remove Column</button>
                        }
                      </div>
                    </div>
                  }
                }
              </th>
            }
          }
        }
      }
    </tr>
    </thead>
    <tbody>
      @for (row of tableData; track $index; let rowIndex = $index) {
        <tr>
          <td class="sticky-column">{{ row.sample }}</td>
          @for (col of userMetadata; track col.id; let index = $index) {
            @if (visibleColumnNames.includes(col.name)) {
              @if (!col.hidden || showHidden) {
                <td (mouseover)="moveOverCell(rowIndex, index)" [ngClass]="{
              'border border-black': selectionMode&&selectionModeColIndex===index,
              'table-danger': selectionMode&&isSelectedCell(rowIndex, index)||col.readonly,
              'table-secondary': col.hidden
              }">
                  @if (col.name === 'Modification parameters') {
                    {{row['col_' + index]?.split(';').join('\n')}}
                  } @else {
                    {{ row['col_' + index] }}
                  }
                  @if (currentCell && !templateMode && !col.readonly) {
                    @if (currentCell.row === rowIndex && currentCell.col === index) {
                      @if (!selectionMode) {
                        <div ngbDropdown class="d-inline-block">
                          <button class="btn btn-sm btn-outline-primary" id="metadataCellDropdownUser" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                          <div ngbDropdownMenu aria-labelledby="metadataCellDropdownUser">
                            <button class="dropdown-item" (click)="editCell(row, col, index, 'user_metadata')"><i class="bi bi-pen"></i> Edit</button>
                            <button class="dropdown-item" (click)="copyAndEnableSelectionMode(row, col, index, 'user_metadata')"><i class="bi bi-copy"></i> Copy To Adjacent Cells in Column</button>
                            <button class="dropdown-item" (click)="addToFavourite(row, col, index)"><i class="bi bi-star"></i> Favourite</button>
                          </div>
                        </div>
                      } @else {
                        <button class="btn btn-sm btn-outline-danger" (click)="pasteContentFromOriginToCells(col, 'user_metadata')"><i class="bi bi-clipboard"></i></button>
                      }
                    }
                    @if (originCell && !col.readonly) {
                      @if (originCell.row === rowIndex && originCell.col === index) {
                        <div ngbDropdown class="d-inline-block">
                          <button class="btn btn-sm btn-outline-primary" id="metadataCellDropdownUser" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                          <div ngbDropdownMenu aria-labelledby="metadataCellDropdownUser">
                            <button class="dropdown-item" (click)="originCell=null;selectedCells=[];selectionMode=false;selectionModeColIndex=-1">Exit Mode</button>
                          </div>
                        </div>
                      }
                    }
                  }
                </td>
              }
            }
          }
          @for (col of staffMetadata; track col.id; let index = $index) {
            @if (visibleColumnNames.includes(col.name)) {
              @if (!col.hidden || showHidden) {
                @if (templateMode || staffModeActive) {
                  <td (mouseover)="moveOverCell(rowIndex, (userMetadata.length+index))" [ngClass]="{'border border-black': selectionMode&&selectionModeColIndex===(userMetadata.length+index), 'table-danger': (selectionMode&&isSelectedCell(rowIndex, (userMetadata.length+index)))||col.readonly, 'table-secondary': col.hidden}">
                    {{ row['col_' + (userMetadata.length+index)] }}
                    @if (currentCell && !templateMode && !col.readonly) {
                      @if (currentCell.row === rowIndex && currentCell.col === (userMetadata.length+index)) {
                        @if (!selectionMode) {
                          <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-sm btn-outline-primary" id="metadataCellDropdownStaff" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                            <div ngbDropdownMenu aria-labelledby="metadataCellDropdownStaff">
                              <button class="dropdown-item" (click)="editCell(row, col, (userMetadata.length+index), 'staff_metadata')"><i class="bi bi-pen"></i> Edit</button>
                              <button class="dropdown-item" (click)="copyAndEnableSelectionMode(row, col, (userMetadata.length+index), 'staff_metadata')"><i class="bi bi-copy"></i> Copy To Adjacent Cells in Column</button>
                              <button class="dropdown-item" (click)="addToFavourite(row, col, (userMetadata.length+index))"><i class="bi bi-star"></i> Favourite</button>
                            </div>
                          </div>
                        } @else {
                          <button class="btn btn-sm btn-outline-danger" (click)="pasteContentFromOriginToCells(col, 'staff_metadata')"><i class="bi bi-clipboard"></i></button>
                        }
                      }
                      @if (originCell && !templateMode && !col.readonly) {
                        @if (originCell.row === rowIndex && originCell.col === (userMetadata.length+index)) {
                          <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-sm btn-outline-primary" id="metadataCellDropdownStaff" ngbDropdownToggle><i class="bi bi-pencil-fill"></i></button>
                            <div ngbDropdownMenu aria-labelledby="metadataCellDropdownStaff">
                              <button class="dropdown-item" (click)="originCell=null;selectedCells=[];selectionMode=false;selectionModeColIndex=-1">Exit Mode</button>
                            </div>
                          </div>
                        }
                      }
                    }
                  </td>
                }
              }
            }

          }
        </tr>
      }
    </tbody>
  </table>
}

