<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Cupcake
    </a>
  </div>
  <div class="d-flex justify-content-end gap-2" style="padding-right: 20px">
    <div class="d-flex flex-row gap-2">
      @if (dataService.currentSession) {
        <a class="btn btn-outline-danger" style="white-space: nowrap" (click)="copyLink()">
          @if (dataService.currentSession.name) {
            {{dataService.currentSession.name}}
          } @else {
            {{dataService.currentSession.unique_id}}
          }
        </a>
      }
    </div>
    <div ngbDropdown display="dynamic" class="d-inline-black">
      <button type="button" class="btn btn-outline-primary" id="accountDropdown" ngbDropdownToggle>
        <i class="fas fa-user"></i> Account
      </button>
      <div ngbDropdownMenu aria-labelledby="accountDropdown">
        @if (accounts.loggedIn) {
          <button class="dropdown-item">Account</button>
          <button class="dropdown-item" (click)="logout()">Logout</button>
        } @else {
          <button class="dropdown-item" (click)="openAccountLogin()">Login</button>
        }
      </div>
    </div>
  </div>
</nav>
@if (dataService.protocol && true) {
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding-top: 80px;">
    <div class="container-fluid d-flex justify-content-center">
      <b><span [innerHTML]="dataService.protocol.protocol_title"></span></b> <div><a class="btn btn-link" (click)="goToProtocolEditor(dataService.protocol.id)"><i class="bi bi-pen"></i></a></div>
    </div>
  </nav>
}

