<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container-fluid d-flex flex-row justify-content-between">
    <a class="navbar-brand" href="#">
      Cupcake
    </a>
    <div class="d-flex gap-2">
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <i class="bi bi-menu-app-fill"></i>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">

        <ul class="navbar-nav gap-2">
          @if (dataService.currentSession) {
            <li class="nav-item">
              <div ngbDropdown display="dynamic" class="d-inline-black">

                <button type="button" class="btn btn-outline-primary" id="sessionDropdown" ngbDropdownToggle>
                  {{dataService.currentSession.unique_id}} @if (dataService.currentSession.enabled) {<i class="bi bi-unlock"></i>} @else {<i class="bi bi-lock"></i>}
                </button>
                <div ngbDropdownMenu aria-labelledby="accountDropdown">
                  <button class="dropdown-item" (click)="openSessionEditor()">Session Settings</button>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary" (click)="copyLink()">
                <i class="bi bi-clipboard"></i>
              </button>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary" (click)="openQRCodeModal()">
                <i class="bi bi-qr-code"></i>
              </a>
            </li>
          }
          @if (dataService.currentSessionPermissions['view']) {
            <li class="nav-item">
              <button class="btn btn-primary" (click)="testWebRTC()">
                WebRTC
              </button>
            </li>
          }

          <li class="nav-item">
            <div ngbDropdown display="dynamic" class="d-inline-black">

              <button type="button" class="btn btn-outline-primary" id="accountDropdown" ngbDropdownToggle>
                <i class="fas fa-user"></i> Account
              </button>
              <div ngbDropdownMenu aria-labelledby="accountDropdown">
                @if (accounts.loggedIn) {
                  <button class="dropdown-item" (click)="navigateToAccount()">Account</button>
                  <button class="dropdown-item" (click)="logout()">Logout</button>
                } @else {
                  <button class="dropdown-item" (click)="openAccountLogin()">Login</button>
                }
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
@if (dataService.protocol && true) {
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding-top: 80px;">
    <div class="container-fluid d-flex justify-content-center">
      <a href="/#/protocol-session/{{dataService.protocol.id}}" target="_blank" class="link-primary"><b>@if(!switched){Protocol: {{dataService.protocol.protocol_title}}}@else{Session: {{dataService.currentSession.name}}}</b></a>
      <div><a class="btn btn-link" (click)="switchTitle()"><i class="bi bi-arrow-return-left"></i></a></div>
      <div><a class="btn btn-link" (click)="goToProtocolEditor(dataService.protocol.id)"><i class="bi bi-pen"></i></a></div>
      <div><a class="btn btn-link" (click)="exportToDocx()"><i class="bi bi-download"></i></a></div>
    </div>
  </nav>
}

