<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Cupcake
    </a>
    <div class="d-flex flex-row justify-content-end">
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav gap-2">
        @if (dataService.currentSession) {
          <li class="nav-item">
            <div ngbDropdown display="dynamic" class="d-inline-black">
              <a class="nav-link" id="sessionDropdown" ngbDropdownToggle>
                @if (dataService.currentSession.enabled) {<i class="bi bi-unlock"></i>} @else {<i class="bi bi-lock"></i>}Session
              </a>
              <div ngbDropdownMenu aria-labelledby="sessionDropdown">
                <!--                  <button class="dropdown-item" (click)="openSessionEditor()">Session Settings</button>-->
                <div class="dropdown-item">
                  Session: {{dataService.currentSession.unique_id}}
                </div>
                @if (dataService.currentSessionPermissions['edit']) {
                  <a class="dropdown-item" href="/#/session-editor/{{dataService.currentSession.unique_id}}" target="_blank">Session Editor</a>
                }
                <a class="dropdown-item" (click)="copyLink()">
                  <i class="bi bi-clipboard"></i> Copy Session Link
                </a>
                <a class="dropdown-item" (click)="openQRCodeModal()">
                  <i class="bi bi-qr-code"></i> QR Code
                </a>
                @if (dataService.currentSessionPermissions['view']) {
                  <a class="dropdown-item" (click)="testWebRTC()">
                    <i class="bi bi-intersect"></i> WebRTC
                  </a>
                }
              </div>
            </div>
          </li>

        }


        <li class="nav-item">
          <div ngbDropdown display="dynamic" class="d-inline-black">

            <a class="nav-link" id="accountDropdown" ngbDropdownToggle>
              <i class="bi bi-people"></i>Accounts
            </a>
            <div ngbDropdownMenu aria-labelledby="accountDropdown">
              @if (accounts.loggedIn) {
                <button class="dropdown-item" (click)="navigateToAccount()">Account</button>
                <a class="dropdown-item" href="/#/calendar" target="_blank">Calendar</a>
                <button class="dropdown-item" (click)="logout()">Logout</button>
              } @else {
                <button class="dropdown-item" (click)="openAccountLogin()">Login</button>
              }
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
@if (dataService.protocol && true) {
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding-top: 80px;">
    <div class="container-fluid d-flex justify-content-center">
      @if (dataService.currentSession && dataService.currentSession.unique_id) {
        <a href="/#/protocol-session/{{dataService.protocol.id}}&{{dataService.currentSession.unique_id}}" target="_blank" class="link-primary"><b>@if(!switched){Protocol: {{dataService.protocol.protocol_title}}}@else{Session: {{dataService.currentSession.name}}}</b></a>
      }@else {
        <a href="/#/protocol-session/{{dataService.protocol.id}}" target="_blank" class="link-primary"><b>@if(!switched){Protocol: {{dataService.protocol.protocol_title}}}@else{Session: {{dataService.currentSession.name}}}</b></a>
      }

      <div><a class="btn btn-link" (click)="switchTitle()"><i class="bi bi-arrow-return-left"></i></a></div>
      <div><a class="btn btn-link" (click)="goToProtocolEditor(dataService.protocol.id)"><i class="bi bi-pen"></i></a></div>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-link" id="exportDropdown" ngbDropdownToggle>
          <i class="bi bi-download"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="exportDropdown">
          <button class="dropdown-item" (click)="exportToDocx('session', 'docx')">Export Session to DOCX</button>
          <button class="dropdown-item" (click)="exportToDocx('protocol', 'docx')">Export Protocol to DOCX</button>
          <button class="dropdown-item" (click)="exportToDocx('protocol', 'tar.gz')">Export Protocol to tar.gz</button>
        </div>
      </div>
    </div>
  </nav>
}

