<div class="modal-header">
  <h4 class="modal-title">Export Reagent Actions</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="startDate" class="form-label">Start Date</label>
      <input type="date" class="form-control" id="startDate" formControlName="startDate">
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">End Date</label>
      <input type="date" class="form-control" id="endDate" formControlName="endDate">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="export()" [disabled]="!form.valid">Export</button>
</div>
