<div class="modal-header">
  <h5 class="modal-title">Favourite</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="display_name">Display Name</label>
      <input id="display_name" class="form-control" type="text" formControlName="display_name">
    </div>
    <div class="form-group">
      <label for="mode">Add To</label>
      <select id="mode" formControlName="mode" class="form-control">
        <option value="">User's List</option>
        <option value="service_lab_group">Professional Lab Group</option>
      </select>
    </div>
    @if ((form.value.mode === 'service_lab_group' || form.value.mode === 'lab_group')&& labGroupQuery) {
      <div class="form-group">
        <label for="lab_group">Lab Group Search</label>
        <input type="search" id="lab_group" formControlName="lab_group_search" class="form-control">
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        @for (l of labGroupQuery.results; track l.id) {
          <tr (click)="selectedLabGroup=l" [class.table-primary]="selectedLabGroup === l">
            <td>{{ l.id }}</td>
            <td>{{ l.name }}</td>
          </tr>
        }
        </tbody>
      </table>
    }
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>
