.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.custom-day.hasUsage {
  background-color: #ff0000;
  color: white;
}

.custom-day.hasMaintenance {
  background-color: rgb(236, 131, 131);
  color: white;
}

:host ::ng-deep .ngb-dp-day, :host ::ng-deep .ngb-dp-weekday {
  width: 2rem !important;
  height: 2rem !important;
}

.custom-day.focused.hasUsage,
.custom-day.range.hasUsage,
.custom-day.faded.hasUsage,
.custom-day.focused.hasMaintenance,
.custom-day.range.hasMaintenance,
.custom-day.faded.hasMaintenance {
  background-color: rgba(146, 9, 207, 0.63);
  color: white;
}


:host ::ng-deep .ngb-dp-day > div {
  width: 2rem !important;
  height: 2rem !important;
  line-height: 2rem !important;
}
