<div class="container d-flex flex-column gap-2">

  <form [formGroup]="form">
    <div class="form-group">
      <label for="jobName">Job Name</label>
      <input id="jobName" type="text" [ngClass]="{'dirty-control': form.controls['job_name'].dirty}" class="form-control" formControlName="job_name" placeholder="Enter job name">
    </div>
  </form>

  <form [formGroup]="projectForm" class="d-flex flex-column gap-2">
    <div class="form-group">
      <label for="projectName">Project Name</label>
      <div class="d-flex gap-2">
        <input id="projectName" type="search" class="form-control" formControlName="project_name"
               (selectItem)="onProjectSelected($event)"
               [ngbTypeahead]="searchProjects"
               [resultFormatter]="formatter" [inputFormatter]="formatter" placeholder="Search for a project...">
        @if (projectSearchLoading) {
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        }

      </div>
    </div>
    @if (selectedProject) {
      <div>
        <p>
          <b><a href="/#/project-editor/{{selectedProject.id}}">{{selectedProject.project_name}}</a></b><br>
          <b>Created at</b>: {{selectedProject.created_at | date: 'short'}}<br>
          <b>Description</b>: {{selectedProject.project_description}}
        </p>
        <button class="btn btn-sm btn-danger" ngbTooltip="Remove from selection" (click)="selectedProject = undefined; projectForm.reset()">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    } @else {
      <div class="form-group">
        <label for="projectDescription">Project Description</label>
        <textarea id="projectDescription" class="form-control" formControlName="project_description" placeholder="Enter project description"></textarea>
      </div>
    }
  </form>
  @if (job) {
    <p>
      <b>Current status:</b> {{job.status}}<br>
      <b>Owner:</b> {{job.user.username}}<br>
    </p>
    <form [formGroup]="fundingForm" class="d-flex gap-2 flex-wrap">
      <div class="form-group">
        <label>Cost Center</label>
        <input (focus)="currentField='cost_center'" type="text" class="form-control" formControlName="cost_center" [ngbTypeahead]="individualFieldSearchValue">
      </div>
      <div class="form-group">
        <label>Funder</label>
        <input (focus)="currentField='funder'" type="text" class="form-control" formControlName="funder" [ngbTypeahead]="individualFieldSearchValue">
      </div>
    </form>
    <hr>
    <div>
      <h5>Job Submission To</h5>
      <form [formGroup]="labGroupForm">
        <b>Facility Group</b>
        <div class="d-flex gap-2">
          <div class="form-group">
            <label>Group Name Search</label>
            <input formControlName="name" class="form-control" type="search">
            <small class="form-text text-muted">Search for a group name default to "MS Facility"</small>
          </div>
          @if (labGroupQuery) {
            <div class="form-group">
              <label>Select Group</label>
              <select class="form-select" size="5" formControlName="selected">
                @for (group of labGroupQuery.results; track group.id) {
                  <option [value]="group.id">{{group.name}}</option>
                }
              </select>
              <small class="form-text text-muted">Select a group to submit the job to</small>
            </div>
          }
        </div>
      </form>
      @if (labGroupUserQuery) {
        <form [formGroup]="form">
          <div class="d-flex gap-2">
            <div class="form-group">
              <label>Facility staff</label>
              <select class="form-select" multiple formControlName="staff">
                @for (user of labGroupUserQuery.results; track user.id) {
                  <option [value]="user.id">{{user.username}}</option>
                }
              </select>
              <small class="form-text text-muted">Select the staff members to notify</small>
            </div>
          </div>
        </form>
      }
    </div>
    <hr>
    <div  class="d-flex gap-2 flex-column">
      <h5>Protocol Information</h5>
      <form [formGroup]="protocolForm">
        <div class="form-group">
          <label for="protocolTitle">
            Protocol Title
          </label>
          <div class="d-flex gap-2">
            <input [inputFormatter]="protocolFormatter" [resultFormatter]="protocolFormatter" id="protocolTitle" style="width: 300px" type="search" [ngbTypeahead]="searchProtocol" class="form-control" formControlName="protocol_title" placeholder="Enter protocol title" (selectItem)="onProtocolSelected($event)">
            @if (protocolSearchLoading) {
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            }
          </div>
        </div>
      </form>
      @if (selectedProtocol) {
        <div>
          <a (click)="openProtocolBasicInfoEditor()"><b>{{selectedProtocol.protocol_title}}</b></a>
          <p>
            <b></b><br>
            <b>Created at</b>: {{selectedProtocol.protocol_created_on | date: 'short'}}<br>
          </p>
          <quill-view [content]="selectedProtocol.protocol_description"></quill-view>
          <button class="btn btn-sm btn-danger" ngbTooltip="Remove from selection" (click)="selectedProtocol = undefined; protocolForm.reset()">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      } @else {
        <form [formGroup]="protocolForm">
          <div class="d-flex flex-column">
            <label>Protocol Description</label>
            <quill-editor formControlName="protocol_description" [modules]="editorConfig"></quill-editor>
          </div>
        </form>
      }
    </div>
    @if (selectedProtocol) {
      <hr>
      <h5>Sample Details</h5>
      <form [formGroup]="reagentForm" class="d-flex gap-2">
        @if (selectedStoredReagent) {
          <div>
            <p>
              <b>{{selectedStoredReagent.reagent.name}}</b><br>
              <b>Quantity</b>: {{selectedStoredReagent.quantity}} {{selectedStoredReagent.reagent.unit}}<br>
              <b>Note</b>: {{selectedStoredReagent.notes}}
            </p>
            <button class="btn btn-sm btn-danger" ngbTooltip="Remove from selection" (click)="selectedStoredReagent = undefined; reagentForm.reset()">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        } @else {
          <div class="form-group">
            <label>Sample Name</label>
            <div class="d-flex gap-2">
              <input (selectItem)="onStoredReagentSelected($event)" [resultTemplate]="rt" type="search" [ngbTypeahead]="searchReagent" class="form-control" [inputFormatter]="reagentFormatter" placeholder="Search or new sample name" formControlName="reagent_name_search">
              @if (storedReagentSearchLoading) {
                <div class="spinner-border spinner-border-sm" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              }
            </div>
            <ng-template #rt let-r="result" let-t="term">
              <div class="d-flex justify-content-between">
                <span>{{ r.reagent.name }} ({{ r.quantity }} {{ r.reagent.unit }})</span>
                <small class="text-muted">{{ r.reagent.note }}</small>
              </div>
            </ng-template>

          </div>
          <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" formControlName="current_quantity">
          </div>
          <div class="form-group" style="width:150px">
            <label for="reagentUnit">Unit</label>
            <select id="reagentUnit" class="form-select" formControlName="unit">
              <optgroup label="Volume">
                <option value="nL">nL</option>
                <option value="uL">uL</option>
                <option value="mL">mL</option>
                <option value="L">L</option>
              </optgroup>
              <optgroup label="Mass">
                <option value="ng">ng</option>
                <option value="ug">ug</option>
                <option value="mg">mg</option>
                <option value="g">g</option>
                <option value="kg">kg</option>
              </optgroup>
              <optgroup label="Mole">
                <option value="nM">nM</option>
                <option value="uM">uM</option>
                <option value="mM">mM</option>
                <option value="M">M</option>
              </optgroup>
              <optgroup label="Count">
                <option value="ea">ea</option>
              </optgroup>
            </select>
          </div>
        }


        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="use_previous" formControlName="use_previous">
          <label class="form-check-label" for="use_previous">Use previous reagent</label>
          <div>
            <small class="form-text text-muted">
              If checked, the reagent will be used from the selected source and a new reagent record won't be create
            </small>
          </div>
        </div>
      </form>
      <form [formGroup]="formSampleExtraData">
        <div class="d-flex gap-2">
          <div class="form-group">
            <label for="sampleNumber">Sample Number</label>
            <input id="sampleNumber" type="number" class="form-control" formControlName="sample_number">
          </div>
          <div class="form-group">
            <label for="sampleType">Sample Type</label>
            <select id="sampleType" type="text" class="form-select" formControlName="sample_type">
              <option value="wcl">Whole Cell Lysate</option>
              <option value="ip">Immunoprecipitate</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
      </form>
      @if (job.user_metadata.length > 0) {
        <div [formGroup]="metadata">
          <div [formArrayName]="'user_metadata'" class="d-flex gap-2 flex-column">
            @for (i of metadata.controls['user_metadata'].controls; track i; let index = $index) {
              <form [formGroupName]="index" class="d-flex gap-2">
                <div class="form-group" style="width:400px">
                  <label>{{i.value['name']}}</label>
                  <div class="d-flex gap-2">
                    @if (i.value['name']==='Modification parameters') {
                      <input readonly (focus)="setCurrentForm(i)" type="search" [ngbTypeahead]="searchValue" class="form-control" [formControl]="metadata.controls['user_metadata'].controls[index].controls['value']">
                      <button class="btn btn-sm btn-primary" (click)="editMetadata(index, 'user_metadata')"><i class="bi bi-pen"></i></button>
                    } @else {
                      <input (focus)="setCurrentForm(i)" type="search" [ngbTypeahead]="searchValue" class="form-control" [formControl]="metadata.controls['user_metadata'].controls[index].controls['value']">
                    }
                    @if (!i.value['mandatory']) {
                      <button class="btn btn-sm btn-danger" (click)="removeMetadata(index, 'user_metadata')" ngbTooltip="Remove this metadata"><i class="bi bi-trash2"></i></button>
                    }
                    <button class="btn btn-sm btn-info" (click)="addMetadataModifier(index, 'user_metadata')" ngbTooltip="Add modifier for different sample carrying this metadata"><i class="bi bi-signpost-split"></i></button>
                  </div>
                  @if (i.value['name']==='Modification parameters' && i.value['value']) {
                    <app-display-modification-parameters-metadata [value]="i.value['value']"></app-display-modification-parameters-metadata>
                  }
                </div>
              </form>
              @if (i.value['modifiers']) {
                @if (i.value['modifiers'].length > 0) {
                  <div>
                    <table class="table table-striped table-hover">
                      <thead>
                      <tr>
                        <th scope="col">
                          Value
                        </th>
                        <th scope="col">
                          Samples
                        </th>
                        <th scope="col">
                          Actions
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                        @for (modifier of i.value['modifiers']; track $index; let indexM = $index) {
                          <tr>
                            <td>{{modifier['value']}}</td>
                            <td>{{modifier['samples']}}</td>
                            <td>
                              <div class="d-flex gap-2">
                                <button class="btn btn-sm btn-danger" (click)="removeMetadataModifier(index, indexM, 'user_metadata')" ngbTooltip="Remove modifier">
                                  <i class="bi bi-trash2"></i>
                                </button>
                                <button class="btn btn-sm btn-primary" (click)="editMetadataModifier(index, indexM, 'user_metadata')" ngbTooltip="Edit modifier">
                                  <i class="bi bi-pencil-fill"></i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                }
              }
            }
          </div>
        </div>
      }
      <hr>
      <h5>MS Experiment Details (for staff)</h5>
      @if (job.staff_metadata.length > 0) {
        <div [formGroup]="metadata">
          <div [formArrayName]="'staff_metadata'" class="d-flex gap-2 flex-column">
            @for (i of metadata.controls['staff_metadata'].controls; track i; let index = $index) {
              <form [formGroupName]="index" class="d-flex gap-2">
                <div class="form-group" style="width:400px">
                  <label>{{i.value['name']}}</label>
                  <div class="d-flex gap-2">
                    @if (i.value['name']==='Modification parameters') {
                      <input readonly (focus)="setCurrentForm(i)" type="search" [ngbTypeahead]="searchValue" class="form-control" [formControl]="metadata.controls['staff_metadata'].controls[index].controls['value']">
                      <button [disabled]="!staffModeAvailable" class="btn btn-sm btn-primary" (click)="editMetadata(index, 'staff_metadata')"><i class="bi bi-pen"></i></button>
                    } @else {
                      <input [readOnly]="!staffModeAvailable" (focus)="setCurrentForm(i)" type="search" [ngbTypeahead]="searchValue" class="form-control" [formControl]="metadata.controls['staff_metadata'].controls[index].controls['value']">
                    }
                    @if (!i.value['mandatory']) {
                      <button class="btn btn-sm btn-danger" (click)="removeMetadata(index, 'staff_metadata')"><i class="bi bi-trash2"></i></button>
                    }
                    <button class="btn btn-sm btn-info" (click)="addMetadataModifier(index, 'staff_metadata')" ngbTooltip="Add modifier for different sample carrying this metadata"><i class="bi bi-signpost-split"></i></button>
                  </div>
                  @if (i.value['name']==='Modification parameters' && i.value['value']) {
                    <app-display-modification-parameters-metadata [value]="i.value['value']"></app-display-modification-parameters-metadata>
                  }
                </div>
              </form>
              @if (i.value['modifiers']) {
                @if (i.value['modifiers'].length > 0) {
                  <div>
                    <table class="table table-striped table-hover">
                      <thead>
                      <tr>
                        <th scope="col">
                          Value
                        </th>
                        <th scope="col">
                          Samples
                        </th>
                        <th scope="col">
                          Actions
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                        @for (modifier of i.value['modifiers']; track $index; let indexM = $index) {
                          <tr>
                            <td>{{modifier['value']}}</td>
                            <td>{{modifier['samples']}}</td>
                            <td>
                              <div class="d-flex gap-2">
                                <button class="btn btn-sm btn-danger" (click)="removeMetadataModifier(index, indexM, 'staff_metadata')" ngbTooltip="Remove modifier">
                                  <i class="bi bi-trash2"></i>
                                </button>
                                <button class="btn btn-sm btn-primary" (click)="editMetadataModifier(index, indexM, 'staff_metadata')" ngbTooltip="Edit modifier">
                                  <i class="bi bi-pencil-fill"></i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                }
              }
            }
          </div>
        </div>
      }
      <div>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="staffDataForm" class="d-flex flex-column gap-2">
              <div class="d-flex gap-2">
                <div class="form-group" style="width: 200px">
                  <label for="injection_volume">Injection Volume</label>
                  <input [readOnly]="staffModeAvailable" id="injection_volume" class="form-control" type="number" formControlName="injection_volume">
                </div>
                <div class="form-group" style="width: 200px">
                  <label for="injection_unit">Injection Unit</label>
                  <select id="injection_unit" class="form-select" formControlName="injection_unit">
                    <option value="nL">nL</option>
                    <option value="uL">uL</option>
                    <option value="mL">mL</option>
                  </select>
                </div>
              </div>
              <div class="d-flex gap-2">
                <div class="form-group" style="width: 200px">
                  <label for="search_engine">Search Engine</label>
                  <select id="search_engine" class="form-select" formControlName="search_engine">
                    <option value="MaxQuant">MaxQuant</option>
                    <option value="Proteome Discoverer">Proteome Discoverer</option>
                    <option value="Skyline">Skyline</option>
                    <option value="DIANN">DIANN</option>
                    <option value="MSFragger">MSFragger</option>
                    <option value="Fragpipe">Fragpipe</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="form-group" style="width: 200px">
                  <label for="search_engine_version">Search Engine Version</label>
                  <input id="search_engine_version" class="form-control" type="text" formControlName="search_engine_version">
                </div>
              </div>

              <div class="form-group">
                <label for="location">Folder Location</label>
                <input id="location" class="form-control" type="text" formControlName="location">
              </div>
              <div class="form-group">
                <label for="search_details">Search Details</label>
                <textarea id="search_details" class="form-control" formControlName="search_details"></textarea>
              </div>
            </form>
            <!--<p>
              @if (job.injection_volume) {
                <strong>Injection Volume:</strong> {{job.injection_volume}} {{job.injection_unit}}<br>
              }
              @if (job.location) {
                <strong>Location:</strong> {{job.location}} <br>
              }
              @if (job.search_engine) {
                <strong>Search Engine:</strong> {{job.search_engine}} {{job.search_engine_version}}<br>
              }
              @if (job.search_details) {
                <strong>Search Details:</strong><br>
                {{job.search_details}}
              }
            </p>-->
          </div>
        </div>
      </div>

      <hr>
    }
  }
  <div class="d-flex gap-2 mt-2" id="submitUpdateBar">
    @if (!job) {
      <button class="btn btn-primary" (click)="createDraftJob()">Create Job</button>
    } @else {
      @if (job.status !== 'submitted' && (userCanEdit || staffModeAvailable)) {
        <button class="btn btn-primary" [disabled]="job.status !== 'draft'" (click)="submit()">Submit</button>
        <button class="btn btn-primary" (click)="update()">Update</button>
        <button class="btn btn-primary" (click)="fastaFileUpload.click()">Upload Fasta File</button>
        <input type="file" hidden #fastaFileUpload (change)="annotationService.handleFileInput($event, job.id, 'user_annotation', 'fasta file from job '+job.job_name, 'file')">
        <div ngbDropdown display="dynamic" class="d-inline-black">
          <button class="btn btn-primary" id="addMetadata" ngbDropdownToggle>
            + User Metadata
          </button>
          <div ngbDropdownMenu aria-labelledby="addMetadata">
            @for (m of metadataService.userMetadataTemplate; track m.name) {
              <a class="dropdown-item" (click)="addMetadata(m, 'user_metadata')">
                {{m.name}}
              </a>
            }
          </div>
        </div>
      }
      @if (staffModeAvailable) {
        <div ngbDropdown display="dynamic" class="d-inline-black">
          <button class="btn btn-warning" id="addStaffMetadata" ngbDropdownToggle>
            + Staff Metadata
          </button>
          <div ngbDropdownMenu aria-labelledby="addStaffMetadata">
            @for (m of metadataService.staffMetadataSpecific; track m) {
              <a class="dropdown-item" (click)="addMetadata({name: m, type: 'comment'}, 'staff_metadata')">
                {{m}}
              </a>
            }
          </div>
        </div>
      }
    }

    <a class="btn btn-danger" href="/#/instruments/jobs">New Submission</a>
  </div>

  @if (job) {
    <div class="d-flex flex-column g-2">
      @if (annotationService.audioURL) {
        <div class="d-flex flex-column gap-1">
          <div class="d-flex flex-row justify-content-center">
            <div class="d-flex flex-column">
              <p>
                <b>Recording Preview</b>
              </p>
              @if (annotationService.clickedInstrumentItem==='Audio') {
                <audio controls>
                  <source [src]="annotationService.audioURL" type="audio/webm">
                  Your browser does not support the audio element.
                </audio>
              } @else if (annotationService.clickedInstrumentItem==='Video') {
                <video controls [width]="400" [height]="300">
                  <source [src]="annotationService.audioURL" type="video/webm">
                  Your browser does not support the video element.
                </video>
              }
            </div>

          </div>
          <div class="d-flex flex-row gap-2">
            <button class="btn btn-primary" (click)="annotationService.saveRecording(job.id, 'user_annotation')">Save</button>
            <button class="btn btn-danger" (click)="annotationService.deletePreviewRecording()">Delete</button>

          </div>
        </div>
      }
    </div>
    <div class="p-2" id="annotationCreator">
      @if (this.annotationService.clickedInstrumentItem==='Text') {
        <app-annotation-text-form (text)="this.annotationService.handleTextAnnotation($event, job.id, 'user_annotation')"></app-annotation-text-form>
      } @else if (this.annotationService.clickedInstrumentItem==='Sketchpad') {
        <app-handwritten-annotation (sketch)="this.annotationService.handleSketchAnnotation($event, job.id, 'user_annotation')"></app-handwritten-annotation>
      } @else if (this.annotationService.clickedInstrumentItem==='File') {
        <div class="form-group">
          <label for="file">Upload File</label>
          <input type="file" class="form-control" id="file" (change)="this.annotationService.handleFileInput($event, job.id, 'user_annotation')">
        </div>
      } @else if (this.annotationService.clickedInstrumentItem==='Audio') {
        <div class="d-flex flex-row gap-2 flex-wrap">
          @if (this.annotationService.recording) {
            <button class="btn btn-danger" (click)="this.annotationService.stopRecording()">Stop Recording</button>
          } @else {
            @if (previewVideo) {
              <button class="btn btn-primary" (click)="this.annotationService.startRecording(true, false, previewVideo)">Start Recording</button>
            } @else {

            }
          }

          <div class="form-floating">
            <select class="form-select" [(ngModel)]="this.annotationService.currentAudioDevice" >
              <option selected [value]="null">Default Selected</option>
              @for (a of this.annotationService.audioDevices; track a) {
                <option [ngValue]="a">{{a.label}}</option>
              }
            </select>
            <label>Select Audio Device</label>
          </div>
          <canvas id="visualizer" width="200" height="50"></canvas>
        </div>

      } @else if (annotationService.clickedInstrumentItem==='Video') {
        <div class="container">
          <div class="d-flex flex-column gap-2">
            <div class="d-flex flex-row gap-2">
              @if (annotationService.recording) {
                <button class="btn btn-danger" (click)="annotationService.stopRecording()">Stop Recording</button>
              } @else {
                @if (previewVideo) {
                  <button class="btn btn-primary" (click)="annotationService.startRecording(enableAudio.checked, enableVideo.checked, previewVideo)">Record Video</button>
                }
                <button class="btn btn-primary" (click)="annotationService.startScreenRecording(enableAudio.checked)">Record Screen</button>
              }
            </div>
            <div class="d-flex flex-row gap-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" #enableVideo>
                <label class="form-check-label">Enable Video</label>
              </div>
              @if (enableVideo.checked) {
                <div class="form-floating">
                  <select class="form-select" [(ngModel)]="annotationService.currentCameraDevice">
                    <option selected>Default Selected</option>
                    @for (a of annotationService.cameraDevices; track a) {
                      <option [ngValue]="a">{{a.label}}</option>
                    }
                  </select>
                  <label>Select Camera Device</label>
                </div>
              }
            </div>
            <div class="d-flex flex-row gap-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" #enableAudio>
                <label class="form-check-label">Enable Audio</label>
              </div>
              @if (enableAudio.checked) {
                <div class="form-floating">
                  <select class="form-select" [(ngModel)]="this.annotationService.currentAudioDevice">
                    <option selected>Default Selected</option>
                    @for (a of this.annotationService.audioDevices; track a) {
                      <option [ngValue]="a">{{a.label}}</option>
                    }
                  </select>
                  <label>Select Audio Device</label>
                </div>
              }
            </div>
          </div>
          @if (this.annotationService.recording && !this.annotationService.screenRecording) {
            <div class="d-flex flex-row justify-content-center">
              <video autoplay muted #previewVideo [width]="400" [height]="300"></video>
            </div>
          }
        </div>

      } @else if (this.annotationService.clickedInstrumentItem==='Image') {
        <div class="form-group">
          <label for="image">Upload Image</label>
          <input type="file" class="form-control" id="image" (change)="this.annotationService.handleFileInput($event, job.id, 'user_annotation')">
        </div>
      } @else if (this.annotationService.clickedInstrumentItem === 'Alignment') {
        <div class="form-group">
          <label for="file">Upload Alignment</label>
          <input type="file" class="form-control" id="alignment-file" (change)="this.annotationService.handleFileInput($event, job.id, 'user_annotation')">
        </div>
      }
    </div>
    @if (job.user_annotations || job.staff_annotations) {
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs"  [destroyOnHide]="false">
        <li [ngbNavItem]="'user'">
          <button ngbNavLink>User Annotations</button>
          <ng-template ngbNavContent>
            @if (activeTab === 'user') {
              <app-annotation-presenter [annotations]="job.user_annotations" (deleteAnnotation)="handleDeleteAnnotation($event)"></app-annotation-presenter>
            }
          </ng-template>
        </li>
        <li [ngbNavItem]="'staff'">
          <button ngbNavLink>Staff Annotations</button>
          <ng-template ngbNavContent>
            @if (activeTab === 'staff') {
              <app-annotation-presenter [annotations]="job.staff_annotations" (deleteAnnotation)="handleDeleteAnnotation($event)"></app-annotation-presenter>
            }
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      <div style="position: fixed; z-index: 1030; bottom: 50px; right: 50px">
        <div class="d-flex flex-row gap-2 align-items-center">
          @if (staffModeAvailable) {
            <button class="btn btn-warning" (click)="openStaffDataEntryPanel()">Staff</button>
          }
          <div ngbDropdown placement="top-end" class="d-inline-block">
            <button class="btn btn-outline-success" ngbDropdownToggle><i class="bi bi-plus"></i></button>
            <div ngbDropdownMenu>
              @if (job) {
                @if (staffModeAvailable) {
                  @for (a of ['Audio', 'Text', 'Video', 'Image', 'Instrument', 'Sketchpad', 'Counter','File', 'Checklist', 'Table', 'Alignment', 'Calculator', 'Molarity Calculator', 'Randomization', 'Large/Multiple Files']; track a) {
                    <button ngbDropdownItem (click)="annotationService.annotationInstrumentMenuClick(a, 'staff_annotation', job.id)">{{a}}</button>
                  }
                } @else {
                  @for (a of ['Audio', 'Text', 'Video', 'Image', 'Sketchpad', 'Counter','File', 'Checklist', 'Table', 'Alignment', 'Calculator', 'Molarity Calculator', 'Randomization', 'Large/Multiple Files']; track a) {
                    <button ngbDropdownItem (click)="annotationService.annotationInstrumentMenuClick(a, 'user_annotation', job.id)">{{a}}</button>
                  }
                }
              }
            </div>
          </div>
        </div>
      </div>
    }
  }
</div>

