.protocol-description {
  max-width: 100%;
  overflow-x: auto;
  word-wrap: break-word;
}

.metadata-table-container {
  max-width: 100%;
  max-height: calc(100vh - 56px);
  overflow-x: auto;
  overflow-y: auto;
}

.recording-preview-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.recording-preview-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recording-preview-card audio,
.recording-preview-card video {
  width: 100%;
  height: auto;
  max-height: 400px;
}
