@if (storedReagent) {
  <div class="d-flex flex-column justify-content-between h-100">
    <div>
      <div>
        <b>Item: {{storedReagent.reagent.name}}</b>
      </div>
      <p>
        <small>Quantity: {{storedReagent.quantity}} {{storedReagent.reagent.unit}}</small><br>
        <small>User: {{storedReagent.user}}</small><br>
        <small>
          Path to entry: // >
          @for (path of pathToRoot; track path.id) {
            <a href="/#/reagent-store/{{path.id}}">{{path.name}}</a> >
          }
        </small>
      </p>
    </div>
    <div class="d-flex flex-row gap-2">
      <button class="btn btn-sm btn-outline-secondary" (click)="openCameraModal.emit(true)"><i class="bi bi-camera"></i></button>
      @if (storedReagent.user === accounts.username || accounts.is_staff) {
        <button class="btn btn-sm btn-outline-primary" (click)="openStoredReagentEditorModal.emit(true)"><i class="bi bi-pencil"></i></button>
        @if (storedReagent.barcode) {
          <button class="btn btn-sm btn-outline-success" (click)="openQrScannerModal.emit(true)"><i class="bi bi-upc-scan"></i></button>
        } @else {
          <button class="btn btn-sm btn-outline-secondary" (click)="openQrScannerModal.emit(true)"><i class="bi bi-upc-scan"></i></button>
        }
        <button class="btn btn-sm btn-outline-danger" (click)="delete.emit(true)"><i class="bi bi-trash"></i></button>
      } @else {
        <button class="btn btn-sm btn-outline-danger" disabled><i class="bi bi-trash"></i></button>
      }

    </div>
  </div>




}
