<div class="container-fluid p-0" style="margin-top: 80px">
  <nav class="navbar navbar-expand-lg navbar-light d-flex flex-wrap">
    <div class="container-fluid d-flex flex-row justify-content-center">
      <a class="navbar-brand">Accounts Information</a>
    </div>
  </nav>
  <div class="d-flex g-1" style="height: auto; min-height: 100vh; position:relative">
    @if (!hideSection) {
      <div class="border-end border-1 border-black d-flex flex-column" style="width: 300px; min-height: 100%">
        <nav class="navbar navbar-expand-lg navbar-light d-flex flex-wrap">
          <div class="container-fluid">
            <a class="navbar-brand">Sections</a>
          </div>
        </nav>
        <div class="list-group d-flex flex-column rounded-0 overflow-auto">
          <a type="button" class="list-group-item list-group-item-action" href="/#/instruments/jobs">Jobs</a>
          <a type="button" class="list-group-item list-group-item-action" href="/#/instruments/bookings">Bookings</a>
          <a type="button" class="list-group-item list-group-item-action" href="/#/instruments/management">Management</a>
        </div>
      </div>
    }

    <div class="d-flex flex-column w-100">
      <nav class="navbar navbar-expand-lg navbar-light d-flex flex-wrap">
        <div class="container-fluid">
          <button type="button" class="btn btn-outline-primary" (click)="hideSection=!hideSection"><i class="bi bi-menu-app"></i></button>
          <a class="navbar-brand">
            @if (selectedSection === 'management') {
              Instrument Management
            } @else if (selectedSection === 'bookings') {
              Instrument Bookings
            } @else if (selectedSection === 'jobs') {
              Instrument Jobs
            }
          </a>
        </div>
      </nav>
      @if (selectedSection === 'bookings') {
        <div class="d-flex flex-column p-2">
          <app-instrument-booking></app-instrument-booking>
        </div>
      } @else if (selectedSection === 'management') {
        <div class="d-flex flex-column p-2">
          <app-instrument-management></app-instrument-management>
        </div>
      } @else if (selectedSection === 'jobs') {
        <div class="d-flex flex-column p-2">
          <app-instrument-job-management [currentJobId]="currentJob"></app-instrument-job-management>
        </div>
      }
    </div>
  </div>
</div>
