<div class="container">
  <form [formGroup]="form">
    <div class="form-floating">
      <input class="form-control" id="searchTerm" formControlName="searchTerm" placeholder="Search Term">
      <label for="searchTerm">Instrument Search Term</label>
    </div>
  </form>
  @if (instrumentQuery) {
    @if (instrumentQuery.results.length > 0) {
      <div class="list-group mt-2">
        @for (result of instrumentQuery.results; track result.id) {
          <div class="list-group-item list-group-item-action">
            <div>
              <b>{{result.instrument_name}}</b>
            </div>
            <small>{{result.instrument_description}}</small>
            <div class="d-flex flex-row">
              @if (result.metadata_columns.length > 0) {
                @for (m of result.metadata_columns; track m.id) {
                  @if (m.type === "Characteristics") {
                    <span class="badge bg-primary" ngbTooltip="Characteristics">{{m.name}}: {{m.value}}</span>
                  } @else if (m.type === "Comment") {
                    <span class="badge bg-secondary" ngbTooltip="Comment">{{m.name}}: {{m.value}}</span>
                  } @else if (m.type === "Factor value") {
                    <span class="badge bg-success" ngbTooltip="Factor value">{{m.name}}: {{m.value}}</span>
                  } @else {
                    <span class="badge bg-danger" ngbTooltip="Other">{{m.name}}: {{m.value}}</span>
                  }
                }
              }
            </div>
            <div class="d-flex flex-row">
              <div class="d-flex flex-row flex-grow-1 gap-1">
                @if (dataService.instrumentPermissions[result.id]) {
                  @if (dataService.instrumentPermissions[result.id]['can_view']) {
                    <i class="bi bi-eye"></i>
                  } @else {
                    <i class="bi bi-eye text-danger"></i>
                  }
                  @if (dataService.instrumentPermissions[result.id]['can_manage']) {
                    <i class="bi bi-pencil"></i>
                  } @else {
                    <i class="bi bi-pencil text-danger"></i>
                  }
                }
              </div>
              @if (dataService.instrumentPermissions[result.id]) {
                <div class="d-flex flex-grow flex-grow-0 gap-2">
                  @if (dataService.instrumentPermissions[result.id]['can_view']||dataService.instrumentPermissions[result.id]['can_book']||dataService.instrumentPermissions[result.id]['can_manage']) {
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-sm btn-secondary" ngbTooltip="Attaching documents" ngbDropdownToggle id="{{result.id}}instrumentAttachingDoc"><i class="bi bi-file-plus"></i></button>
                      <div ngbDropdownMenu>
                        @for (folder of result.annotation_folders; track folder.id) {
                          <button ngbDropdownItem (click)="addFileToAnnotationFolder(folder)">{{folder.folder_name}}</button>
                        }
                      </div>
                    </div>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-sm btn-secondary" ngbTooltip="View attached documents" ngbDropdownToggle id="{{result.id}}instrumentAttachedDoc"><i class="bi bi-paperclip"></i></button>
                      <div ngbDropdownMenu>
                        @for (folder of result.annotation_folders; track folder.id) {
                          <button ngbDropdownItem (click)="openAnnotationFolder(folder)">{{folder.folder_name}}</button>
                        }
                      </div>
                    </div>
                  }
                  @if (dataService.instrumentPermissions[result.id]['can_manage']) {
                    <button class="btn btn-sm btn-outline-warning" (click)="delayUsage(result)" ngbTooltip="Delay all booking usages from specific start day by a specific number of days"><i class="bi bi-clock-history"></i></button>
                    <button class="btn btn-sm btn-outline-primary" (click)="editInstrument(result)" ngbTooltip="Edit instrument information"><i class="bi bi-pencil-fill"></i></button>
                    <button class="btn btn-sm btn-outline-secondary" (click)="clickInstrument(result)" ngbTooltip="Manage instrument access"><i class="bi bi-people"></i></button>
                    <button class="btn btn-sm btn-outline-secondary" (click)="manageMetadata(result)" ngbTooltip="Manage instrument metadata"><i class="bi bi-database"></i></button>
                  }
                </div>
              }
            </div>
          </div>
        }
      </div>
      <div class="d-flex flex-row gap-2 mt-2 justify-content-between">
        <ngb-pagination (pageChange)="handlePageChange($event)" [collectionSize]="instrumentQuery.count" [(page)]="currentInstrumentPage" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" />

      </div>

      <div>
        <b>Legend</b>
        <div class="d-flex flex-column gap-1">
          <small><i class="bi bi-pencil"></i> Manage Permission (red if denied)</small>
        </div>
      </div>

    } @else {
      <div class="alert-warning">
        No instruments found.
      </div>
    }
  }
  @if (accounts.is_staff) {
    <div>
      <button class="btn btn-sm btn-primary" (click)="openInstrumentCreateModal()"><i class="bi bi-plus"></i></button>
    </div>
  }
</div>
