@if (!protocol) {
  <div class="container-fluid d-flex flex-row justify-content-center" style="padding-top: 60px">
    <form [formGroup]="form" (ngSubmit)="createProtocol()" class="d-flex flex-column gap-2 justify-content-center" style="width: 800px">
      <h5>Initial project input</h5>
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="protocol_title" id="protocol_title">
        <label for="protocol_title">Protocol Title</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" formControlName="protocol_description" id="protocol_description" style="height: 300px"></textarea>
        <label for="protocol_description">Protocol Description</label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
  </div>
} @else {
  @if (sections.length > 0) {
    <div class="container d-flex flex-row justify-content-center overflow-auto">
      <div class="d-flex flex-column gap-2 " style="width: 800px">
        <form [formGroup]="formSectionSelect">
          <div class="form-floating">
            <select class="form-select" formControlName="currentSection" id="sectionSelect">
              @for (section of sections; track section.data.id; let i = $index) {
                <option [value]="i">{{section.data.section_description}}</option>
              }
            </select>
            <label for="sectionSelect">Select Section</label>
          </div>
        </form>
      </div>
    </div>
  }

  @if (sections[formSectionSelect.controls['currentSection'].value]) {
    <div class="container d-flex flex-row justify-content-center overflow-auto mt-2">
      <div class="d-flex flex-column gap-2 " style="width: 800px">
        <form>
          <div class="form-floating">
            <input [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="section-title" [(ngModel)]="sections[formSectionSelect.controls['currentSection'].value].data.section_description">
            <label for="section-title">Section Title</label>
          </div>
        </form>
        <app-time-picker [seconds]="sections[formSectionSelect.controls['currentSection'].value].data.section_duration" (output)="handleUpdateSectionDuration($event)"></app-time-picker>
        <div class="d-flex flex-row gap-2">
          <button class="btn btn-primary">Add Section</button>
          <button class="btn btn-primary" (click)="addStepToSection(formSectionSelect.controls['currentSection'].value)">Add Step</button>
          <button class="btn btn-danger">Delete Section</button>
        </div>
        <div class="list-group overflow-auto" style="height: 65vh">
          @for (step of sections[formSectionSelect.controls['currentSection'].value].steps; track step.id; let i = $index) {
            <div class="list-group-item border-0">
              <hr>
              <div class="d-flex flex-row justify-content-around gap-2">
                <b>Step {{ i + 1 }}/{{sections[formSectionSelect.controls['currentSection'].value].steps.length}}</b>
                <div class="d-flex flex-row justify-content-end gap-2">
                  <button class="btn btn-outline-primary" (click)="moveStep(step.id)"><i class="bi bi-arrow-up"></i></button>
                  <button class="btn btn-outline-primary" (click)="moveStep(step.id, false)"><i class="bi bi-arrow-down"></i></button>
                  <button class="btn btn-outline-danger" (click)="deleteStep(step.id)"><i class="bi bi-trash"></i></button>
                </div>
              </div>
              Step Description
              <ngx-wig [(ngModel)]="step.step_description"></ngx-wig>
              <div>
                Step Duration
              </div>
              <app-time-picker [seconds]="step.step_duration" (output)="handleUpdateStepDuration($event, i)"></app-time-picker>
            </div>
          }
        </div>
      </div>
    </div>
  }

}

