@if (!protocol) {
  <div class="container-fluid d-flex flex-row justify-content-center" style="padding-top: 80px">
    <form  [formGroup]="form" (ngSubmit)="createProtocol()" class="d-flex flex-column gap-2 justify-content-center" style="width: 800px">
      <h5>Initial project input</h5>
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="protocol_title" id="protocol_title">
        <label for="protocol_title">Protocol Title</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" formControlName="protocol_description" id="protocol_description" style="height: 300px"></textarea>
        <label for="protocol_description">Protocol Description</label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
  </div>
}

@if (dataService.protocolPermissions['edit']) {
  @if (!protocol) {

  } @else {
    <div class="d-flex justify-content-center align-items-center flex-row flex-wrap gap-2 overflow-x-hidden">
      <div class="d-flex flex-column mb-4 mt-4">
        <form [formGroup]="form" class="p-2">
          <div class="form-check">
            <label class="form-check-label" for="protocol_enabled">Enabled For Public View</label>
            <input class="form-check-input" type="checkbox" formControlName="enabled" id="protocol_enabled">
          </div>
          <div>
            <button class="btn btn-sm btn-primary" (click)="saveProtocol()">Update Protocol Settings</button>
          </div>
        </form>
        @if (protocol.tags.length > 0) {
          <div class="d-flex flex-row gap-2 flex-wrap p-2">
            <b>Tags: </b>
            @for (tag of protocol.tags; track tag.id) {
              <span class="badge bg-primary">{{tag.tag.tag}}</span>
            }
          </div>
        }
        <div class="d-flex flex-row gap-2 p-2">
          <div ngbDropdown placement="top-end" class="d-inline-block">
            <button class="btn btn-sm btn-primary" ngbDropdownToggle>Protocol Actions</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="viewEditorModal()">Protocol Editors</button>
              <button ngbDropdownItem (click)="viewViewerModal()">Protocol Viewers</button>
              <button ngbDropdownItem (click)="viewProtocolTagModal()">Protocol Tag Editors</button>
            </div>
          </div>
        </div>

        @if (sections.length > 0) {
          <div class="d-flex flex-row overflow-auto">
            <div class="d-flex flex-column gap-2 " style="width: 500px">
              <form [formGroup]="formSectionSelect">
                <div class="form-floating">
                  <select class="form-select" formControlName="currentSection" id="sectionSelect">
                    @for (section of sections; track section.data.id; let i = $index) {
                      <option [value]="i">{{section.data.section_description}}</option>
                    }
                  </select>
                  <label for="sectionSelect">Select Section</label>
                </div>
              </form>
              <div class="d-flex flex-row gap-2">
                <button class="btn btn-sm btn-primary" (click)="createNewSection()">Create New Section</button>
                <button class="btn btn-sm btn-primary" (click)="saveSection()">Save Section Data</button>
                <button class="btn btn-sm btn-primary" (click)="addStepToSection(formSectionSelect.controls['currentSection'].value)">Add Step</button>
                <button class="btn btn-sm btn-danger" (click)="deleteSection()">Delete Section</button>
              </div>
            </div>

          </div>
        }

        @if (sections[formSectionSelect.controls['currentSection'].value]) {
          <div class="d-flex flex-column gap-2" style="width: 500px">
            <form class="mt-2" >
              <div class="form-floating">
                <input [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="section-title" [(ngModel)]="sections[formSectionSelect.controls['currentSection'].value].data.section_description">
                <label for="section-title">Section Title</label>
              </div>
            </form>
            <app-time-picker [seconds]="sections[formSectionSelect.controls['currentSection'].value].data.section_duration" (output)="handleUpdateSectionDuration($event)"></app-time-picker>
          </div>
        }
      </div>
      <div class="d-flex flex-row justify-content-center">
        <div class="list-group overflow-auto" style="max-height: 80vh; width: 600px">
          @for (step of sections[formSectionSelect.controls['currentSection'].value].steps; track step.id; let i = $index) {
            <div class="list-group-item border-0">
              <div class="d-flex flex-row justify-content-around gap-2">
                <b>Step {{ i + 1 }}/{{sections[formSectionSelect.controls['currentSection'].value].steps.length}}</b>
                <div class="d-flex flex-row justify-content-end gap-2">
                  <button class="btn btn-outline-primary" (click)="moveStep(step.id)"><i class="bi bi-arrow-up"></i></button>
                  <button class="btn btn-outline-primary" (click)="moveStep(step.id, false)"><i class="bi bi-arrow-down"></i></button>
                  <button class="btn btn-outline-danger" (click)="deleteStep(step.id)"><i class="bi bi-trash"></i></button>
                </div>
              </div>
              <app-step-description-editor [step]="step"></app-step-description-editor>
              <div>
                Step Duration
              </div>
              <app-time-picker [seconds]="step.step_duration" (output)="handleUpdateStepDuration($event, i)"></app-time-picker>
              @if (step.reagents.length > 0) {
                <div class="d-flex flex-row justify-content-between">
                  <b>Reagents</b>
                </div>
                <div class="d-flex flex-column gap-2">
                  @for (reagent of step.reagents; track reagent.id; let j = $index) {
                    <div class="d-flex flex-row gap-2">
                      <p>
                        @if (reagent.scalable) {
                          {{reagent.quantity}} x {{reagent.scalable_factor}} = {{reagent.quantity * reagent.scalable_factor}} {{reagent.reagent.unit}} {{reagent.reagent.name}}

                        } @else {
                          {{reagent.quantity}} {{reagent.reagent.unit}} {{reagent.reagent.name}}
                        }
                      </p>
                      <div>
                        <span class="badge bg-primary" (click)="clickViewTag(reagent)">
                        @if (viewTemplateTagMap[reagent.id]) {
                          -
                        } @else {
                          +
                        }
                          template tag
                      </span>
                      </div>

                    </div>
                    @if (viewTemplateTagMap[reagent.id]) {
                    <div class="alert alert-primary">
                      <small>

                          name: %{{reagent.id}}.name%<br>
                          quantity: %{{reagent.id}}.quantity%<br>
                          unit: %{{reagent.id}}.unit%<br>
                          scaled_quantity: %{{reagent.id}}.scaled_quantity%<br>

                      </small>
                    </div>
                    }

                  }
                </div>
              }
              Last updated: {{step.updated_at | date: "medium"}}
              <div class="mt-2 d-flex flex-row gap-1">
                <button class="btn btn-sm btn-primary" (click)="openReagentEditorModal(step)">Reagent Editor</button>
                <button class="btn btn-sm btn-primary" (click)="previewDescription(step)">Preview</button>
              </div>
              <hr>
            </div>
          }
        </div>
      </div>
    </div>
  }
} @else if (!dataService.protocolPermissions['view'] && dataService.protocol) {
  <div class="container d-flex flex-row justify-content-between align-items-center">
    <p>
      No protocol edit permission
    </p>
  </div>
}

@if (floatedClick) {
  <div style="position: fixed; z-index: 1030; bottom: 150px; right: 50px">
    <div class="d-flex flex-row gap-2 align-items-center">
      <div class="card">
        <div class="card-body">
          @switch (floatedClick) {
            @case ('Ingredient Summary') {
              <div style="max-height:300px; max-width:300px; overflow: auto">
                <b>Reagent Summary</b>
                <ul>
                  @for (reagent of protocol?.reagents; track reagent.id) {
                    <li>
                      {{reagent.quantity}} {{reagent.reagent.unit}} {{reagent.reagent.name}}
                    </li>
                  }
                </ul>
              </div>

            }
            @case ('Calculator') {
              <div style="width: 320px; max-height: 600px;  overflow: auto">
                <app-calculator-annotation></app-calculator-annotation>
              </div>

            }
          }
        </div>
      </div>

    </div>
  </div>
}

<div style="position: fixed; z-index: 1030; bottom: 50px; right: 50px">
  <div class="d-flex flex-row gap-2 align-items-center">
    <div ngbDropdown placement="top-end" class="d-inline-block">
      <button class="btn btn-outline-success" ngbDropdownToggle><i class="bi bi-info"></i></button>
      <div ngbDropdownMenu>
        @for (a of ['Reagent Summary', 'Calculator']; track a) {
          <button ngbDropdownItem (click)="editorFloatClick(a)">{{a}}</button>
        }
      </div>
    </div>

  </div>
</div>

