<form [formGroup]="form" class="d-flex flex-row gap-1">
  <div class="form-floating">
    <input type="number" class="form-control" id="hours" formControlName="hours" placeholder="Hour">
    <label for="hours">Hour</label>
  </div>
  <div class="form-floating">
    <input type="number" class="form-control" id="minutes" formControlName="minutes" placeholder="Minute">
    <label for="minutes">Minute</label>
  </div>
  <div class="form-floating">
    <input type="number" class="form-control" id="seconds" formControlName="seconds" placeholder="Second">
    <label for="seconds">Second</label>
  </div>
</form>
