@if (loadingChunk | async; as loadingChunk) {
  <div class="loading-overlay">
    <div class="loading-content">
      <img src="assets/cupcake_logo.png" alt="Logo" class="logo">
      <div class="spinner"></div>
      <div>Loading {{ loadingChunk }}...</div>
    </div>
  </div>
} @else {
  <ng-container *ngTemplateOutlet="appContent"></ng-container>
}
@if (webrtc.connectionState$ | async; as connectionState) {
  @if (connectionState !== 'disconnected') {
    <app-floating-chat></app-floating-chat>

  }
}
<ng-template #appContent>
  @if (ready) {
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  } @else {
    <app-loading></app-loading>
  }
  <app-toast-container></app-toast-container>
  
  <!-- Runtime Splash Screen -->
  <app-runtime-splash 
    [visible]="splashVisible" 
    [theme]="splashTheme" 
    (close)="onSplashClose()">
  </app-runtime-splash>
</ng-template>
