@if (loadingChunk | async; as loadingChunk) {
  <div class="loading-overlay">
    <div class="loading-content">
      <img src="assets/cupcake_logo.png" alt="Logo" class="logo">
      <div class="spinner"></div>
      <div>Loading {{ loadingChunk }}...</div>
    </div>
  </div>
} @else {
  <ng-container *ngTemplateOutlet="appContent"></ng-container>
}

<ng-template #appContent>
  @if (ready) {
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  } @else {
    <app-loading></app-loading>
  }
  <app-toast-container></app-toast-container>
</ng-template>
