<div class="modal-header">
  <h5 class="modal-title">Reagent</h5>
</div>
<div class="modal-body">
  <div class="d-flex flex-column gap-2">
    <h5>Add Reagent</h5>
    <form [formGroup]="reagentSearchForm" class="d-flex flex-column gap-2">
      <div class="d-flex flex-row gap-2">
        <div class="form-floating">
          <input [resultTemplate]="rt" (selectItem)="onSearchIngredients($event)" id="reagentNameSearch" type="search" class="form-control" formControlName="name" [ngbTypeahead]="search" [inputFormatter]="formatIngredient" />
          <label for="reagentNameSearch">Reagent</label>
        </div>
        <div class="form-floating">
          <input type="number" class="form-control" formControlName="quantity" />
          <label>Quantity</label>
        </div>
        <div class="form-floating">
          <select id="reagentUnit" class="form-select" formControlName="unit">
            <optgroup label="Volume">
              <option value="nL">nL</option>
              <option value="uL">uL</option>
              <option value="mL">mL</option>
              <option value="L">L</option>
            </optgroup>
            <optgroup label="Mass">
              <option value="ng">ng</option>
              <option value="ug">ug</option>
              <option value="mg">mg</option>
              <option value="g">g</option>
              <option value="kg">kg</option>
            </optgroup>
            <optgroup label="Mole">
              <option value="nM">nM</option>
              <option value="uM">uM</option>
              <option value="mM">mM</option>
              <option value="M">M</option>
            </optgroup>
            <optgroup label="Count">
              <option value="ea">ea</option>
            </optgroup>
          </select>
          <label for="reagentUnit">Unit</label>
        </div>
      </div>
      <div class="d-flex flex-row gap-2">
        @if (reagentSearchForm.controls.scalable.value) {
          <div class="form-floating">
            <input class="form-control" formControlName="scalable_factor" type="number">
            <label>Scale Factor</label>
          </div>
        }
        <div class="form-check">
          <input class="form-check-input" formControlName="scalable" type="checkbox">
          <label class="form-check-label">Scalable</label>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="addIngredient()"><i class="bi bi-plus"></i></button>
    <hr>
    @if (reagentForms.length > 0){
      <h5>Reagents</h5>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quant</th>
            <th>Unit</th>
            <th>Scalable</th>
            <th>Scale Factor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (i of reagentForms; track i) {
            <tr>
              <td>
                {{ i.controls["name"].value }}
              </td>
              <td>
                <form [formGroup]="i" class="d-flex flex-column gap-2">
                  <input type="number" class="form-control" formControlName="quantity" />
                </form>
              </td>
              <td>
                {{ i.controls["unit"].value }}
              </td>
              <td>
                <form [formGroup]="i">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="scalable">
                  </div>
                </form>

              </td>
              <td>
                <form [formGroup]="i">
                  <div class="form-group">
                    <input class="form-control" type="number" formControlName="scalable_factor">
                  </div>
                </form>

              </td>
              <td>
                <button class="btn btn-outline-danger" (click)="removeIngredient(i.controls['id'].value)"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.name + ' ' + '('+ r.unit+ ')' " [term]="t"></ngb-highlight>
</ng-template>
