<div class="floating-chat-container" [class.expanded]="isExpanded">
  <div class="floating-chat-header" (click)="toggleExpand($event)">
    <div class="d-flex justify-content-between align-items-center px-2 py-1">
      <span>Chat {{ connectionState === 'connected' ? '(Connected)' : '' }}</span>
      <div>
        <button class="btn btn-sm btn-link" (click)="openModal($event)">
          <i class="bi bi-gear"></i>
        </button>
        <button class="btn btn-sm btn-link" (click)="toggleExpand($event)">
          <i class="bi" [ngClass]="isExpanded ? 'bi-chevron-down' : 'bi-chevron-up'"></i>
        </button>
      </div>
    </div>
  </div>
  @if (isExpanded) {
    <div class="floating-chat-body">
      <app-chat
        [showHeader]="false"
        [messages]="chatMessages"
        [currentUserId]="webrtc.unique_id"
        (messageSent)="onMessageSent($event)"
        (fileSent)="onFileSent($event)"
        (fileRequest)="requestFile($event)">
      </app-chat>
    </div>
  }
</div>
