<div class="modal-header">
  <h5 class="modal-title">
    Entry Editor
  </h5>
</div>
<div class="modal-body">
  @if (storedReagent) {
    <b>Entry Basic Data</b>
    <form [formGroup]="form" class="d-flex flex-column gap-2">
      <div class="form-floating">
        <input type="number" class="form-control" id="quantity" formControlName="quantity" placeholder="Entry Quantity ({{storedReagent.reagent.unit}})">
        <label for="quantity">Entry Quantity ({{storedReagent.reagent.unit}})</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="notes" formControlName="notes" placeholder="Entry Notes"></textarea>
        <label for="notes">Entry Notes</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="shareable" formControlName="shareable">
        <label class="form-check-label" for="shareable">
          Shareable
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="access_all" formControlName="access_all">
        <label class="form-check-label" for="access_all">
          Allow Everyone to Access
        </label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="barcode" formControlName="barcode" placeholder="Barcode">
        <label for="barcode">Barcode</label>
      </div>
      <div class="row row-cols-sm-auto">
        <div class="col-12">
          <label for="expiration_date">Expiration Date</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              formControlName="expiration_date"
              ngbDatepicker
              #d="ngbDatepicker"
              id="expiration_date"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <svg id="stored-reagent-{{storedReagent.id}}-barcode-canvas" width="300" height="300"></svg>
      </div>
    </form>
    <hr>
    <form [formGroup]="formAutocomplete" class="d-flex flex-column gap-2">
      <div>
        <b>Created from Protocol</b>
        <div>
          @if (createdByProtocol) {
            <div>
              @if (createdByProtocol.protocol_title) {
                {{createdByProtocol.protocol_title}}
              }
            </div>
            <small class="text-muted"><a href="/#/protocol-session/{{createdByProtocol.id}}" target="_blank">Go to protocol</a></small>
          }
          <input (selectItem)="selectedProtocol($event)" [resultTemplate]="rtProtocol" [inputFormatter]="inputFormatterProtocol" [resultFormatter]="resultFormatterProtocol" type="search" class="form-control" placeholder="Search Protocol" [ngbTypeahead]="searchProtocol" formControlName="protocolName">

          <ng-template #rtProtocol let-r="result" let-t="term">
            <ngb-highlight [result]="r.protocol_title" [term]="t"></ngb-highlight>
          </ng-template>
        </div>
      </div>
      @if (form.value.created_by_protocol) {
        <b>Created from Session</b>
        @if (createdBySession && createdByProtocol) {
          <div>
            @if (createdBySession.name) {
              {{createdBySession.name}}
            } @else {
              {{createdBySession.unique_id}}
            }
          </div>
          <small class="text-muted"><a href="/#/protocol-session/{{createdByProtocol.id}}&{{createdBySession.unique_id}}" target="_blank">Go to session</a></small>
        }
        <div>
          <input #sessionSearch (selectItem)="selectedSession($event)" (focus)="onSessionFocus(sessionSearch)" [resultTemplate]="rtSession" [ngbTypeahead]="searchSession" [inputFormatter]="inputFormatterSession" [resultFormatter]="resultFormatterSession" type="search" class="form-control" placeholder="Search Session" formControlName="sessionName">

          <ng-template #rtSession let-r="result" let-t="term">
            @if (r.name) {
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            } @else {
              <ngb-highlight [result]="r.unique_id" [term]="t"></ngb-highlight>
            }
          </ng-template>
        </div>

        @if (stepList.length > 0) {
          <b>Created From Step</b>
          @if (!storedReagent.created_by_step) {
            <div>
              <small class="text-muted">No step selected. Please select one from this protocol</small>
            </div>
          } @else {
            <div>
              <div class="card bg-info">
                <div class="card-body">
                  <div [innerHTML]="storedReagent.created_by_step.step_description">

                  </div>
                </div>
              </div>
            </div>
          }
          <div>
            Steps from this protocol
          </div>
          <div class="d-flex flex-column gap-2">
            @for (s of paginatedSteps; track s.id) {
              <div class="card"
                   [ngClass]="{'bg-primary text-light': form.value.created_by_step === s.id}"
                   (mouseover)="onStepHover(s)"
                   (mouseleave)="onStepUnhover()"
                   (click)="selectStep(s)"
              >
                <div class="card-body">
                  <div [innerHTML]="s.step_description">
                  </div>
                </div>
              </div>
            }
            <ngb-pagination
              [collectionSize]="stepList.length"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="onPageChange($event)"
              [maxSize]="5"
              [rotate]="true"
            ></ngb-pagination>
          </div>
        }
      }
      <div>
        <b>Created from Project</b>
        <div>
          @if (createdByProject) {
            <div>
              {{createdByProject.project_name}}
            </div>
          }
          <input (selectItem)="selectedProject($event)" [resultTemplate]="rt" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter" type="search" class="form-control" placeholder="Search Project" [ngbTypeahead]="searchProject" formControlName="projectName">

          <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.project_name" [term]="t"></ngb-highlight>
          </ng-template>
        </div>
      </div>
    </form>
    <hr>
    <b>Item Metadata</b>
    <app-item-metadata [parentType]="'stored_reagent'" [storedReagent]="storedReagent"></app-item-metadata>
  }
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>
