
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$min-contrast-ratio: 3.5;
$primary: #2E2D62;
$secondary: #a4a4a4;
$success:       #003632;
$info:          #8294C4;
$warning:       #FFD6A5;
$danger:        #FF9B9B;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
.accordion-button:not(.collapsed) {
  color: #FFF  !important;
  background-color: #9acad5 !important;
}



@import '../node_modules/bootstrap/scss/bootstrap.scss';

$dark-theme-colors: (
  "primary":    #24b4c6,
  "success":    #7ad800,
);

@mixin generate-dark-theme($colors) {
  .dark-theme {
    @each $color, $value in $dark-theme-colors {
      .bg-#{$color} {
        background-color: $value !important;
      }
      .text-#{$color} {
        color: $value !important;
      }
      .border-#{$color} {
        border-color: $value !important;
      }
      .btn-#{$color} {
        background-color: $value !important;
        border-color: $value !important;
      }
      .btn-outline-#{$color} {
        color: $value !important;
        border-color: $value !important;
      }
      .link-#{$color} {
        color: $value !important;
      }
      .table-#{$color} {
        color: $value !important;
      }
    }
  }
}
@include generate-dark-theme($dark-theme-colors);
html, body { height: 100vh; width: 100vw; margin: 0 }


//@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
