@import "../node_modules/cal-heatmap/dist/cal-heatmap.css";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$min-contrast-ratio: 3.5;
$primary: #2E2D62;
$secondary: #a4a4a4;
$success:       #003632;
$info:          #8294C4;
$warning:       #FFD6A5;
$danger:        #FF9B9B;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
.accordion-button:not(.collapsed) {
  color: #FFF  !important;
  background-color: #9acad5 !important;
}



@import '../node_modules/bootstrap/scss/bootstrap.scss';

$dark-theme-colors: (
  "primary":    #24b4c6,
  "success":    #7ad800,
);

@mixin generate-dark-theme($colors) {
  .dark-theme {
    @each $color, $value in $dark-theme-colors {
      .bg-#{$color} {
        background-color: $value !important;
      }
      .text-#{$color} {
        color: $value !important;
      }
      .border-#{$color} {
        border-color: $value !important;
      }
      .btn-#{$color} {
        background-color: $value !important;
        border-color: $value !important;
      }
      .btn-outline-#{$color} {
        color: $value !important;
        border-color: $value !important;
      }
      .link-#{$color} {
        color: $value !important;
      }
      .table-#{$color} {
        color: $value !important;
      }
    }
  }
}

.dirty-control {
  border-color: #ff0000; /* Red border for dirty controls */
}


@include generate-dark-theme($dark-theme-colors);
html, body { height: 100vh; width: 100vw; margin: 0 }

//@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";


/* src/loading-screen/loading-screen.component.css */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust the size as needed */
  margin-bottom: 20px;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
