<div class="container-fluid p-5 d-flex flex-row justify-content-center" style="padding-top: 100px">
  <div class="card border-0">
    <div class="card-body d-flex flex-row justify-content-center">
      <div class="d-flex gap-2">
        <div class="logo">
          <img #logo class="logo_home" ngSrc="assets/cupcake_logo.png" alt="Cupcake Logo" [width]="128" [height]="128">
        </div>
        <div class="vr">
        </div>
        <div class="d-flex flex-column gap-1">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <input formControlName="url" type="text" class="form-control" id="protocolUrl" placeholder="Protocols.io URL">
              <button class="btn btn-primary" type="submit" id="protocolSubmit">Submit</button>
            </div>
          </form>
          <small>
            *Please note that the URL must be a valid Protocols.io URL or valid Protocols.io DOI.<br>
            *Example: <a target="_blank" href="https://www.protocols.io/view/expression-and-purification-of-rab10-1-181-stoichi-4r3l24p1xg1y/v1?step=1">https://www.protocols.io/view/expression-and-purification-of-rab10-1-181-stoichi-4r3l24p1xg1y/v1?step=1</a>
          </small>
          <hr>
          <div class="d-flex flex-row justify-content-center">
            <div>
              <button class="btn btn-primary" (click)="navigateToEditor()">Or Create Your Protocols</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form (ngSubmit)="search()">
    <div class="input-group mb-3">
      <button class="btn btn-outline-secondary" type="button" (click)="search()" id="homeSearchButton" >Search</button>
      <input type="search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Session or Protocol search term" aria-label="Search Term" aria-describedby="homeSearchButton">
    </div>
  </form>

</div>

@if (protocolQuery || protocolSessionQuery) {
  <div class="container">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" [destroyOnHide]="false">
      @if (protocolQuery) {
        <li [ngbNavItem]="'protocols'" [destroyOnHide]="false">
          <button ngbNavLink>Protocols <span class="badge bg-primary">{{protocolQuery.count}}</span></button>
          <ng-template ngbNavContent>
            <app-protocol-list [protocols]="protocolQuery.results" [enableRemove]="true" [enableEdit]="true" (editProtocol)="navigateToEditProtocol($event)" (removeProtocol)="deleteProtocol($event)"></app-protocol-list>
            <div class="mt-2">
              <ngb-pagination (pageChange)="handlePageChange($event)" [collectionSize]="protocolQuery.count" [(page)]="currentProtocolPage" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" />
            </div>
            <!--<div class="d-flex flex-row gap-2 mt-2">
              @if (protocolQuery.previous) {
                <button class="btn btn-primary" (click)="getUserProtocols(protocolQuery.previous)">Previous</button>
              } @else {
                <button class="btn btn-primary" disabled>Previous</button>
              }
              @if (protocolQuery.next) {
                <button class="btn btn-primary" (click)="getUserProtocols(protocolQuery.next)">Next</button>
              } @else {
                <button class="btn btn-primary" disabled>Next</button>
              }
            </div>-->
          </ng-template>
        </li>
      }

      @if (protocolSessionQuery) {
        <li [ngbNavItem]="'sessions'" [destroyOnHide]="false">
          <button ngbNavLink>Protocol Sessions <span class="badge bg-primary">{{protocolSessionQuery.count}}</span></button>
          <ng-template ngbNavContent>
            <div class="list-group">
              @for (session of protocolSessionQuery.results; track session.id) {
                <div class="list-group-item list-group-item-action" (click)="getAssociatedProtocolTitle(session.unique_id)">
                  <div class="d-flex flex-row justify-content-between gap-2">
                    <div>
                      @if (session.name) {
                        {{session.name}}
                      } @else {
                        {{session.unique_id}}
                      }
                    </div>
                    <div class="d-flex flex-row gap-2">
                      <a class="btn btn-sm btn-outline-primary" href="#/session-editor/{{session.unique_id}}" target="_blank"><i class="bi bi-pen"></i></a>
                    </div>
                  </div>

                  <small>{{ session.created_at | date : "short" }}</small>
                  @if (session.unique_id === currentSessionID) {
                    @for (protocol of associatedSessionProtocols; track protocol.id) {
                      <div>
                        <small>Associated Protocol: <a href="/#/protocol-session/{{protocol.id}}&{{session.unique_id}}" target="_blank">{{protocol.protocol_title}}</a></small>
                      </div>
                    }
                  }
                </div>
              }
            </div>
            <div class="mt-2">
              <ngb-pagination (pageChange)="handlePageChange($event)" [collectionSize]="protocolSessionQuery.count" [(page)]="currentSessionPage" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" />
            </div>
<!--            <div class="d-flex flex-row gap-2 mt-2">
              @if (protocolSessionQuery.previous) {
                <button class="btn btn-primary" (click)="getUserSessions(protocolSessionQuery.previous)">Previous</button>
              } @else {
                <button class="btn btn-primary" disabled>Previous</button>
              }
              @if (protocolSessionQuery.next) {
                <button class="btn btn-primary" (click)="getUserSessions(protocolSessionQuery.next)">Next</button>
              } @else {
                <button class="btn btn-primary" disabled>Next</button>
              }
            </div>-->
          </ng-template>
        </li>
      }
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
}


