.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: var(--brand-primary);
  color: var(--surface-primary);
}

.custom-day.range, .custom-day:hover {
  background-color: var(--brand-secondary);
  color: var(--surface-primary);
}

.custom-day.faded {
  background-color: var(--surface-tertiary);
}

.custom-day.durationPreview {
  border-bottom: var(--brand-danger) 2px solid;
}


