<div class="container" style="padding-top: 100px">
  @if (dataService.currentSessionPermissions["edit"]){
    <form [formGroup]="form">
      <div class="form-floating">
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
        <label for="name">Session Name</label>
      </div>
      <div class="form-check">
        <input type="checkbox" formControlName="enabled" class="form-check-input" id="enabled">
        <label class="form-check-label" for="enabled">Enabled for Public View</label>
      </div>
    </form>
    <form [formGroup]="formSearch">
      <b>Associated Protocols</b>
      @if (associatedProtocols.length > 0) {
        <div>
          <app-protocol-list [enableRemove]="true" [protocols]="associatedProtocols" (removeProtocol)="handleProtocolRemove($event)"></app-protocol-list>
        </div>
      }
      <div class="form-floating mt-2">
        <input type="search" formControlName="protocolSearch" class="form-control" id="protocolSearch">
        <label for="protocolSearch">Search New Protocol to Add to Session</label>
      </div>
      @if (protocolSearchResults) {
        <div class="d-flex flex-column gap-2">
          Search results:
          <app-protocol-list [enableAdd]="true" [protocols]="protocolSearchResults.results" (addProtocol)="handleProtocolAdd($event)"></app-protocol-list>
          <div class="d-flex flex-row gap-2">
            @if (protocolSearchResults.previous) {
              <button class="btn btn-primary" (click)="getProtocols(protocolSearchResults.previous)">Previous</button>
            } @else {
              <button class="btn btn-primary" disabled>Previous</button>
            }
            @if (protocolSearchResults.next) {
              <button class="btn btn-primary" (click)="getProtocols(protocolSearchResults.next)">Next</button>
            } @else {
              <button class="btn btn-primary" disabled>Next</button>
            }
          </div>

        </div>
      }
    </form>
    <div class="d-flex flex-row justify-content-center mt-2">
      <div>
        <div>
          <b>Session Schedule</b>
        </div>
        <ngb-datepicker #dp [displayMonths]="2" (dateSelect)="onDateSelection($event)" [dayTemplate]="t"></ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
	    <span
        class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        [class.durationPreview]="isInPreviewRange(date)&&!isHovered(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null"
      >
		{{ date.day }}
	    </span>
        </ng-template>
        <div class="mt-1 d-flex flex-row justify-content-center align-items-center">
          <ul>
            <b>Calendar Legend:</b>
            <li>Selected Range <span class="custom-day range" style="height: 1rem"></span><span class="custom-day faded" style="height: 1rem"></span></li>
            <li>Protocol Estimated Preview <span class="custom-day durationPreview" style="height: 1rem"></span></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="d-flex flex-row gap-2 mt-2">
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-danger" (click)="removeSession()">Delete</button>
    </div>
  } @else {
    <div class="alert alert-danger">You do not have permission to edit this session</div>
  }


</div>
